<template name="js_conventions">
  <h2 class="head primary">Javascript Conventions</h2>
</template>

<template name="js_components">
  <h2 class="head primary">Javascript Components</h2>
</template>

<template name="js_components_show">
js_components_show
</template>

<template name="js_unit_testing">
<h2 class="head primary">Javascript Unit Testing</h2>
</template>

<template name="js_buy">
  <h2 class="head primary">Javascript on Buy Page</h2>
</template>

<template name="js_reading">
  <h2 class="head primary">Javascript Recommended Reading</h2>
</template>