<template name="home">
  <div class="stage-banner bg-white text-center flex-vertical-middle">
    <h1 class="head-1 text--white margin-bottom-large">Quartz</h1>
    <p class="text-1 text--white text--transparent">Style guide &amp; elements<!-- , JS plugins, code conventions, <br> and more --> from the Design and Frontend Team at VHX.</p>
    <a href="/styleguide/colors" class="btn-green btn--brandon btn--large margin-vertical-large">Take A Look</a>

    <nav>
      <ul class="no-bullet inline-list">
        <li><a class="icon-code-navy icon--left btn-white btn--small" href="http://github.com/vhx/quartz">Quartz on Github</a></li>
        <li><a class="icon-cassette-navy icon--left btn-white btn--small" href="http://vhx.tv">Visit VHX</a></li>
        <li><a class="icon-cog-navy icon--left btn-white btn--small" href="http://dev.vhx.tv">VHX Developers</a></li>
      </ul>
    </nav>
  </div>
</template>