@import "../config/include";

/*.....................................
  Admin Checkbox
......................................*/
.form .checkbox {
  position: relative;
  display: inline-block;
  min-height: $field-height;
  width: 100%;

  color: $gray-6;
  font-size: 14px;
  background: transparent;
  user-select: none;

  &:after {
    content: "";
    display: table;
    clear: both;
  }



  /* checkbox
  ...................................*/
  input[type="checkbox"] {
    display: none;
  }

  /* label unchecked
  ...................................*/
  label {
    display: block;
    min-height: $field-height;
    margin: 0;
    float: left;
    box-sizing: border-box;

    line-height: $field-height;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    &.wide {
      width: 100%;
      .checkbox--contain {
        min-height: $field-height;
      }
    }

    .checkbox--contain {
      width: 100%;
      display: block;

      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    // unchecked
    .checkbox--icon {
      display: inline-block;
      width: $field-height;
      height: $field-height;
      margin-right: 10;
      float: left;
      background-color: #fff;
      background-position: 50% 50%;
      background-size: 75%;
      position: relative;

      box-shadow: none;
      box-sizing: border-box;
      border-radius: 3px;
      transition: box-shadow .2s ease, color .2s ease;

      .checkbox-animate {
        transition: all 300ms ease;
        width: $field-height - 10;
        height: $field-height - 10;
        top: 4px;
        right: 4px;
        display: block;
        position: absolute;
        background: #fff;
      }
    }
    .checkbox--label {
      display: block;
      margin-left: 5px;
      float: left;
      min-height: $field-height;
    }

    &.check-right {
      .checkbox--label {
        float: left;
        text-align: left;
        }
      .checkbox--icon {
        float: right;
      }
    }
  }


  /* label not-checked
  ...................................*/
  &.invert input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label {
    .checkbox--icon {
      transition: border 400ms ease-out;
      border: 1px solid #d1d9dc;
      background-image: none;
    }
  }

  /* label checked
  ...................................*/
  input[type="checkbox"]:checked + label,
  &.invert input[type="checkbox"]:not(:checked) + label {
    .checkbox--icon {
      transition: border 400ms ease-out;
      border: 1px solid $gray-6;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2223%22%20viewBox%3D%220%200%2023%2023%22%3E%3Cpath%20fill%3D%22%2322B8AF%22%20d%3D%22M9.291%2019.819l-3.323-3.323%2013.293-13.293%203.323%203.323z%22%2F%3E%3Cpath%20fill%3D%22%23149996%22%20d%3D%22M3.748%207.535l8.84%208.838-3.323%203.324-8.84-8.838z%22%2F%3E%3C%2Fsvg%3E'); background-repeat: no-repeat;
      .checkbox-animate {
        width: 0px;
        height: 0px;
      }
    }
  }

  /* label checked
  ...................................*/
  input[type="checkbox"]:focus + label {
    .checkbox--icon {
      border: 1px solid #9aaab4;
    }
  }
}

.form .checkbox.small {
    min-height: $field-height/3;

    label {
      min-height: $field-height/3;
      line-height: $field-height/3;

    .checkbox--icon {
      width: $field-height/3;
      height: $field-height/3;
      .checkbox-animate {
        width: $field-height/3 - 3;
        height: $field-height/3 - 3;
        top: 1px;
        right: 1px;
      }
    }
    .checkbox--label,
    .checkbox--contain {
      min-height: $field-height/3;
    }
  }
}
.form .checkbox.medium {
    min-height: $field-height/2;
    label {
      min-height: $field-height/2;
      line-height: $field-height/2;

    .checkbox--icon {
      width: $field-height/2;
      height: $field-height/2;
      .checkbox-animate {
        width: $field-height/2 - 5;
        height: $field-height/2 - 5;
        top: 2px;
        right: 2px;
      }
    }
    .checkbox--label,
    .checkbox--contain {
      min-height: $field-height/2;
    }
  }
}

.form .checkbox.alt {
  label {
   border-radius: 20px;
    background: $white;
    width: 70px;
    padding: 7px;

    .checkbox--contain {
      display: block;
      background: $white;
      position: relative;
      padding: 0;
      border-radius: 20px;
      height: 100%;
      width: 100%;
    }
    .checkbox--label {
      display: none;
    }
    .checkbox--circle {
      transition: all 200ms ease;
      display: inline-block;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0;

      .circle-top {
        transition: opacity .2s ease;
        display: block;
        height: 12px;
        overflow: hidden;
        position: absolute;
        top: 0px;
        left: 0px;
        span {
          display: block;
          width: 24px;
          height: 24px;
          background: $gray-3;
          border-radius: 24px;
        }
      }
      .circle-bottom {
        transition: opacity .2s ease;
        display: block;
        height: 12px;
        overflow: hidden;
        position: absolute;
        bottom: 0px;
        left: 0px;
        span {
          position: relative;
          top: -12px;
          display: block;
          width: 24px;
          height: 24px;
          background: $gray-3;
          border-radius: 23px;
        }
      }
    }
  }


  /* label not-checked
  ...................................*/
  &.invert input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label {
    border: 1px solid #d1d9dc;

    .checkbox--icon {
      border: none;
      height: 20px;
      width: 20px;
      position: absolute;
      margin-right: 0;
      top: 2px;
      left: auto;
      right: 3px;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2223%22%20viewBox%3D%220%200%2023%2023%22%3E%3Cpath%20d%3D%22M21.5%2018.3c.3.3.4.6.4.9%200%20.3-.1.6-.4.9l-1.3%201.4c-.3.3-.6.4-.9.4-.3%200-.6-.1-.9-.4l-6.8-6.8-6.8%206.8c-.3.3-.6.4-.9.4-.3%200-.6-.1-.9-.4l-1.4-1.3c-.3-.3-.4-.6-.4-.9%200-.3.1-.6.4-.9l6.8-6.9-6.9-6.8c-.2-.3-.3-.6-.3-.9%200-.3.1-.6.4-.9l1.4-1.4c.3-.3.6-.4.9-.4.3%200%20.6.1.9.4l6.8%206.8%206.8-6.8c.3-.3.6-.4.9-.4.3%200%20.6.1.9.4l1.3%201.4c.3.3.4.6.4.9%200%20.3-.1.7-.4.9l-6.8%206.9%206.8%206.7z%22%20fill%3D%22%23D1D9DC%22%2F%3E%3C%2Fsvg%3E'); background-repeat: no-repeat;
    }
    .checkbox--circle {
      left: 0;

      .circle-top {
        span {
          background: $gray-3;
        }
      }
      .circle-bottom {
        span {
          background: $gray-3;
        }
      }
    }
  }

  /* label checked
  ...................................*/
  input[type="checkbox"]:checked + label,
  &.invert input[type="checkbox"]:not(:checked) + label {
    border: 1px solid #9aaab4;

    .contain {
      background: $teal-3;
    }
    .checkbox--icon {
      border: none;
      height: 20px;
      width: 20px;
      position: absolute;
      margin-right: 0;
      top: 2px;
      left: 5px;
      right: auto;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2223%22%20viewBox%3D%220%200%2023%2023%22%3E%3Cg%20fill%3D%22%2322B8AF%22%3E%3Cpath%20d%3D%22M9.291%2019.819l-3.323-3.323%2013.293-13.293%203.323%203.323zM3.748%207.535l8.84%208.838-3.323%203.324-8.84-8.838z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E'); background-repeat: no-repeat;
    }
    .checkbox--circle {
      left: 30px;
      .circle-top {
        span {
          background: $teal-2;
        }
      }
      .circle-bottom {
        span {
          background: $teal-3;
        }
      }
    }
  }

  &.small input[type="checkbox"]:checked + label,
  &.small.invert input[type="checkbox"]:not(:checked) + label {
    .checkbox--circle {
      left: 20px;
    }
  }

  &.small {
    label {
      border-radius: 15px;
      width: 52.5px;
      padding: 7px;

      .checkbox--contain {
        border-radius: 15px;
      }
      .checkbox--circle {
        left: 0px;
        top: -2px;
        width: 18px;
        height: 18px;

        .circle-top {
          height: 9px;
          span {
            width: 18px;
            height: 18px;
            border-radius: 18px;
          }
        }
        .circle-bottom {
          height: 9px;
          span {
            top: -9px;
            width: 18px;
            height: 18px;
            border-radius: 18px;
          }
        }
      }
    }

    /* label not-checked
    ...................................*/
    &.invert input[type="checkbox"]:checked + label,
    input[type="checkbox"]:not(:checked) + label {
      .checkbox--icon {
        height: 15px;
        width: 15px;
        top: 0px;
        right: 0px;
        left: auto;
      }
      .checkbox--circle {
        left: 0px;
      }
    }

    /* label checked
    ...................................*/
    input[type="checkbox"]:checked + label,
    &.invert input[type="checkbox"]:not(:checked) + label {
      .checkbox--icon {
        height: 18px;
        width: 18px;
        top: -2px;
        left: -1px;
        right: auto;
      }
    }
  }
}

.checkbox-container {
  @include cf();
  .checkbox {
    float: left;
    width: auto;
  }
  .checkbox-label {
    float: left;
    padding-left: 15px;
    line-height: 30px;
  }
}

[data-checkable] {
  &.is-hovered,
  &:hover {
    background: $teal-3 !important;
    cursor: pointer;
  }
}
