/* .....................................
  Fonts
..................................... */
/* .....................................
  Sets
..................................... */
/* .....................................
  Media Query Ranges
..................................... */
/* .....................................
  Colors - Grays
..................................... */
/* .....................................
  Colors - Teals
..................................... */
/* .....................................
  Colors - Red
..................................... */
/* .....................................
  Colors - Navy
..................................... */
/* .....................................
  Colors - Brand Palette
..................................... */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* .....................................
  Mixins for CSS3 Properties
..................................... */
/* helper function for margin and padding
......................................*/
/*
  collection of prefixed flexbox properties
  until we're using Compass 1.0+
  ..........................................*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.user-avatar {
  width: 60px;
  height: 55px;
  border-bottom: 5px solid #375667;
  position: relative;
  background: #7da4ba; }
  .user-avatar .avatar-img {
    background-size: cover;
    background-position: center center;
    width: 60px;
    height: 55px;
    position: absolute;
    top: 0;
    z-index: 2; }
  .user-avatar .user-short-name {
    width: 60px;
    font-family: 'vinyl';
    color: #375667;
    font-size: 38px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    top: 0; }
  .user-avatar.size-small {
    width: 20px;
    height: 18px;
    border-bottom: 2px solid #375667;
    position: relative;
    background: #7da4ba; }
    .user-avatar.size-small .avatar-img {
      background-size: cover;
      background-position: center center;
      width: 20px;
      height: 18px;
      position: absolute;
      top: 0;
      z-index: 2; }
    .user-avatar.size-small .user-short-name {
      width: 20px;
      font-family: 'vinyl';
      color: #375667;
      font-size: 38px;
      line-height: 20px;
      text-align: center;
      position: absolute;
      top: 0; }
    .user-avatar.size-small .user-short-name {
      font-size: 14px; }
  .user-avatar.size-medium {
    width: 34px;
    height: 32px;
    border-bottom: 2px solid #375667;
    position: relative;
    background: #7da4ba;
    width: 34px; }
    .user-avatar.size-medium .avatar-img {
      background-size: cover;
      background-position: center center;
      width: 34px;
      height: 32px;
      position: absolute;
      top: 0;
      z-index: 2; }
    .user-avatar.size-medium .user-short-name {
      width: 34px;
      font-family: 'vinyl';
      color: #375667;
      font-size: 38px;
      line-height: 34px;
      text-align: center;
      position: absolute;
      top: 0; }
    .user-avatar.size-medium .user-short-name {
      font-size: 20px; }
  .user-avatar.size-nav {
    width: 46px;
    height: 44px;
    border-bottom: 2px solid #375667;
    position: relative;
    background: #7da4ba; }
    .user-avatar.size-nav .avatar-img {
      background-size: cover;
      background-position: center center;
      width: 46px;
      height: 44px;
      position: absolute;
      top: 0;
      z-index: 2; }
    .user-avatar.size-nav .user-short-name {
      width: 46px;
      font-family: 'vinyl';
      color: #375667;
      font-size: 38px;
      line-height: 46px;
      text-align: center;
      position: absolute;
      top: 0; }
    .user-avatar.size-nav .user-short-name {
      font-size: 28px; }
    .user-avatar.size-nav:hover {
      opacity: 0.9; }
  .user-avatar.blue {
    border-color: #144f79 !important;
    background: #46a0e0 !important; }
    .user-avatar.blue .user-short-name {
      color: #144f79 !important; }
  .user-avatar.purple {
    border-color: #8a3b7f !important;
    background: #cf8fc6 !important; }
    .user-avatar.purple .user-short-name {
      color: #8a3b7f !important; }
  .user-avatar.pink {
    border-color: #d1184d !important;
    background: #f290ac !important; }
    .user-avatar.pink .user-short-name {
      color: #d1184d !important; }
  .user-avatar.orange {
    border-color: #da7868 !important;
    background: #f8e6e3 !important; }
    .user-avatar.orange .user-short-name {
      color: #da7868 !important; }
  .user-avatar.green {
    border-color: #9eba41 !important;
    background: #d8e4b0 !important; }
    .user-avatar.green .user-short-name {
      color: #9eba41 !important; }
  .user-avatar.forest {
    border-color: #226657 !important;
    background: #59c8af !important; }
    .user-avatar.forest .user-short-name {
      color: #226657 !important; }
  .user-avatar.light-blue {
    border-color: #30909d !important;
    background: #8bd2db !important; }
    .user-avatar.light-blue .user-short-name {
      color: #30909d !important; }
  .user-avatar.grey {
    border-color: #999999 !important;
    background: #e6e6e6 !important; }
    .user-avatar.grey .user-short-name {
      color: #999999 !important; }
