/* .....................................
  Fonts
..................................... */
/* .....................................
  Sets
..................................... */
/* .....................................
  Media Query Ranges
..................................... */
/* .....................................
  Colors - Grays
..................................... */
/* .....................................
  Colors - Teals
..................................... */
/* .....................................
  Colors - Red
..................................... */
/* .....................................
  Colors - Navy
..................................... */
/* .....................................
  Colors - Brand Palette
..................................... */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* .....................................
  Mixins for CSS3 Properties
..................................... */
/* helper function for margin and padding
......................................*/
/*
  collection of prefixed flexbox properties
  until we're using Compass 1.0+
  ..........................................*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.badge {
  display: block;
  width: 31px;
  height: 31px;
  line-height: 31px;
  font-size: 12px;
  text-align: center;
  color: #22B9B0;
  background-color: #375667;
  border-radius: 50%;
  transition: background 200ms ease, border-color 200ms ease; }
  .badge.badge-white {
    background: #ffffff;
    color: #22B9B0; }
  .badge.badge-teal {
    background: #22B9B0;
    color: #fff; }
  .badge.border {
    border: 1px solid #22B9B0; }
  .badge.small, .badge.badge-small {
    width: 20px;
    height: 20px;
    line-height: 20px; }
  .badge.smedium, .badge.badge-smedium {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 13px; }
  .badge.medium, .badge.badge-medium {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 15px; }
  .badge.large, .badge.badge-large {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 18px; }
  .badge.has-icon {
    display: table;
    vertical-align: middle;
    text-align: center;
    padding-left: 0; }
  .badge:link i, .badge:visited i {
    opacity: 1; }
  .badge:hover i, .badge:active i {
    opacity: 0.5; }
  .badge i {
    display: table-cell;
    text-align: center;
    background-size: 15px 15px; }
    .badge i.small {
      width: 30px;
      height: 30px;
      background-size: 15px 15px; }
    .badge i.medium {
      width: 50px;
      height: 50px;
      background-size: 25px 25px; }
    .badge i.large {
      width: 60px;
      height: 60px;
      background-size: 45px 45px; }

a.badge:link i, a.badge:visited i {
  opacity: 1; }
a.badge:hover, a.badge:active {
  border-color: #149A97;
  background-color: #375667; }

.btn-teal .badge.badge-white {
  color: #22B9B0; }

.badge-triangle {
  overflow: hidden;
  position: relative; }
  .badge-triangle .contain {
    position: absolute;
    bottom: 0;
    left: 0; }
  .badge-triangle.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0; }
  .badge-triangle.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0; }
  .badge-triangle.top-left {
    position: absolute;
    bottom: 0;
    left: 0; }
  .badge-triangle.top-right {
    position: absolute;
    top: 0;
    right: 0; }
  .badge-triangle.small {
    width: 80px;
    height: 80px;
    z-index: 20; }
    .badge-triangle.small .contain {
      transform: rotate(45deg);
      width: 80px;
      height: 113.13708px;
      transform-origin: 0 113.13708px; }
      .badge-triangle.small .contain .icon {
        transform: rotate(-90deg);
        position: absolute;
        top: 50%;
        margin-top: -11.5px;
        left: 24.66667px;
        margin-left: -11.5px; }
  .badge-triangle.medium {
    width: 100px;
    height: 100px;
    z-index: 20; }
    .badge-triangle.medium .contain {
      transform: rotate(45deg);
      width: 100px;
      height: 141.42136px;
      transform-origin: 0 141.42136px; }
      .badge-triangle.medium .contain .icon {
        transform: rotate(-90deg);
        position: absolute;
        top: 50%;
        margin-top: -17.5px;
        left: 26.66667px;
        margin-left: -17.5px; }
  .badge-triangle.large {
    width: 150px;
    height: 150px;
    z-index: 20; }
    .badge-triangle.large .contain {
      transform: rotate(45deg);
      width: 150px;
      height: 212.13203px;
      transform-origin: 0 212.13203px; }
      .badge-triangle.large .contain .icon {
        transform: rotate(-90deg);
        position: absolute;
        top: 50%;
        margin-top: -22.5px;
        left: 45px;
        margin-left: -22.5px; }
