/* imports
...................................*/
/* .....................................
  Fonts
..................................... */
/* .....................................
  Sets
..................................... */
/* .....................................
  Media Query Ranges
..................................... */
/* .....................................
  Colors - Grays
..................................... */
/* .....................................
  Colors - Teals
..................................... */
/* .....................................
  Colors - Red
..................................... */
/* .....................................
  Colors - Navy
..................................... */
/* .....................................
  Colors - Brand Palette
..................................... */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* .....................................
  Mixins for CSS3 Properties
..................................... */
/* helper function for margin and padding
......................................*/
/*
  collection of prefixed flexbox properties
  until we're using Compass 1.0+
  ..........................................*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*.....................................
  Backgrounds
......................................*/
/* Teal
......................................*/
.bg-teal-1 {
  background-color: #F2FBFB; }

.bg-teal-2 {
  background-color: #22B9B0; }

/* Black & White
......................................*/
.bg-white {
  background-color: #ffffff; }

.bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.7); }

.bg-black {
  background-color: #000000; }

.bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.7); }

/* Grays
......................................*/
.bg-gray-1 {
  background-color: #F0F2F4; }

.bg-gray-2 {
  background-color: #D7DDE1; }

.bg-gray-3 {
  background-color: #AFBCC3; }

.bg-gray-4 {
  background-color: #869AA5; }

.bg-gray-5 {
  background-color: #5E7887; }

.bg-gray-6 {
  background-color: #375667; }

/* Navy
......................................*/
.bg-navy {
  background-color: #00142B; }

.bg-navy-transparent {
  background-color: rgba(0, 20, 43, 0.5); }

/* Other Colors
......................................*/
.bg-red {
  background-color: #D3104A; }

.bg-green {
  background-color: #7DA53E; }

.bg-yellow {
  background-color: #FFB567; }

.bg-orange {
  background-color: #D06B5E; }

.bg-currant {
  background: #1C0D32; }

.bg-image {
  background: url("/home/bg-footer.jpg") top center repeat #000c1d;
  position: relative; }
  .bg-image.bg-only:before {
    background: none; }
  .bg-image:before {
    background-color: rgba(0, 20, 43, 0.75); }

.bg-image-cover {
  background-size: cover;
  background-position: 50% 50%; }

.bg-cover {
  background-size: cover; }
  .bg-cover:before {
    background-color: transparent;
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.75) 55%, rgba(0, 0, 0, 0.6) 80%); }

.bg-cover-flip {
  background-size: cover; }
  .bg-cover-flip:after {
    background-color: transparent;
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.55) 55%, rgba(0, 0, 0, 0.4) 80%); }

.bg-cover-flip:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.bg-image:before, .bg-cover:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
.bg-image.bg-fixed, .bg-cover.bg-fixed {
  background-attachment: fixed;
  min-height: 100%;
  height: 100%; }

.background {
  z-index: 0; }
  .background.video video, .background.video .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .background.video video {
    z-index: 0;
    width: 100%;
    height: auto; }
  .background.video .overlay {
    background: rgba(3, 1, 22, 0.8);
    z-index: 1; }

@media only screen and (max-width: 40em) {
  .background {
    z-index: 0; }
    .background.video {
      background: #030116; }
 }
