@import "../../vhx-style-core/config/mixins";
@import "../styles/icons.extends";

/*.....................................
  Icon Sizes
......................................*/

$icon-xsmall: 15px;
$icon-small: 23px;
$icon-medium: 31px;
$icon-large: 35px;
$icon-xlarge: 45px;
$icon-xxlarge: 65px;

@mixin icon_sizes($size) {
  &.icon--xsmall {

  }
  &.icon--small {

  }
  &.icon--medium {

  }
  &.icon--large {

  }
  &.icon--xlarge {

  }
  &.icon--xxlarge {

  }
}