@import "../../vhx-style-core/config/mixins";

/*.....................................
  Icon Sizes
......................................*/

$icon-tiny: 15px;
$icon-small: 23px;
$icon-medium: 31px;
$icon-large: 35px;
$icon-xlarge: 45px;
$icon-xxlarge: 65px;