@import "../../../../quartz-css/vhx-style-core/config/mixins";
@import "../../../../quartz-css/vhx-style-icons/styles/icons.extends";

.c-select--container {
  &.has-trigger {
    .c-select--dropdown {
      top: 35px;
    }
  }
  &.has-search {
    .c-select--dropdown {
      min-height: 150px;
    }
    .c-select--options {
      margin-top: 80px;
    }
  }
  &.caret--left .c-select--caret {
    left: 22px;
  }
  &.caret--center .c-select--caret {
    left: 50%;
  }
  &.caret--right .c-select--caret {
    right: 22px;
  }
}
.c-select--dropdown {
  position: absolute;
  max-height: 282px;
  top: 55px;
  left: 0;
  z-index: 2147483600;
  display: none;
  &.is-open {
    display: block;
  }
}
.c-select--caret {
  border: solid transparent;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: $gray-3;
  border-width: 10px;
  margin-right: -11px;
  bottom: 100%;
  right: 22px;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  &:before {
    position: absolute;
    bottom: -10px;
    right: -9px;
    content: ' ';
    display: block;
    border: solid transparent;
    border-bottom-color: $white;
    border-width: 9px;
  }
}

.c-select--input-container {
  z-index: 2;
  position: absolute;
}

.c-select--options {
  overflow-y: auto;
  max-height: 200px;
}
.c-select--option {
  color: #233741;
  line-height: 25px;
  padding-top: 7px;
  &.is-selected {
    cursor: pointer;
    background-color: #F0F2F4;
  }
}
.c-select--item-label {
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

// Media Item container
.c-media-item--container {
  transition: background-color .2s ease-out;
  &:hover,
  &.is-selected {
    cursor: pointer;
    background-color: transparentize($teal-2, .9);
    .c-item-toggle {
      opacity: 1;
    }
  }
}

// Media Item +/✓ circle
.c-item-toggle {
  opacity: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-position: center;
  background-color: $teal-2;
  transform: translateY(8px);
  transition: opacity .2s ease-out;
  &.is-selected {
    background-color: $white;
    opacity: 1;
  }
}

.c-select--footer {
  .btn-teal {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .btn-teal:link,
  .btn-teal:visited {
    background-color: white;
    border-color: white;
    color: $teal-2;
  }
  .btn-teal:hover,
  .btn-teal:active,
  .btn-teal.is-loading, {
    background-color: $teal-2;
    border-color: $teal-2;
    color: $white;
  }
}
