node_modules/
.DS_Store
.env
.env.local
logs
npm-debug.log
app/public/quartz.js
app/public/components.css
app/public/app.js
app/public/vendor.js
app/public/quartz.css
.sass-cache
.ebignore
.elasticbeanstalk
.ebextensions

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
