@import "../config/include";

/*.....................................
  Tables
......................................*/

.table {
  box-sizing: border-box;
  width: 100%;
  table-layout: fixed;
  border: none;
  margin-bottom: 0;

  &.border-top {
    border-bottom: 1px solid $gray-3;
  }

  &.table--auto {
    width: auto;
  }

  /* table truncate
  ..................................*/
  &.table--truncate {
    td, th {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  /* table head
  ..................................*/
  &.table--ticks {
    th {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    th:before {
      content: " ";
      height: 10px;
      width: 1px;
      background: $gray-3;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    th:last-child:before {
      display: none;
    }
    .table--ticks {
      .no--tick {
        &:before {
          display: none;
        }
      }
    }
  }

  thead, th {
    box-sizing: border-box;
  }
  thead {
    border: none;
    font-weight: bold;
    background: transparent;

    tr {
      border-bottom: 1px solid $gray-3;
    }
    th {
      padding: 15px 15px 15px 20px;
      border: none;
      &:first-child {
        background: none;
      }
    }
  }

  th, td {
    box-sizing: border-box;
    padding: 20px 15px;
    vertical-align: top;
  }

  /* table body
  ..................................*/
  tbody {
    box-sizing: border-box;
  }

  tr {
    box-sizing: border-box;
    transition: background 200ms ease-out;
    background: $white;
    border-bottom: 1px solid $gray-3;
    border-left: 3px solid tranparent;

    &.is-disabled {
      background: $gray-7;
    }
    &.is-sticky {
      background-color: $teal-1;
    }
    &.is-selected {
      background-color: $teal-1;
      border-left: 3px solid $teal-3;

    }
    &.is-clickable {
      cursor: pointer;
      &.is-hovered,
      &:hover,
      &:active {
        background-color: $teal-1 !important;
      }
    }
    &:nth-child(even) {
      background: transparent;
    }
  }

  /* row head
  ..................................*/
  .table-row-head {
    background-color: $gray-1;
    border-bottom: 1px solid $gray-3 !important;
    td {
      height: auto;
      position: relative;
    }
    &:nth-child(even) {
      background-color: $gray-1;
    }
    .table-row-arrow {
      display: block;
      position: absolute;
      bottom: 0px;
      left: 30px;
      background: $gray-3;

      &:after,
      &:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: $gray-1;
        border-width: 10px;
        margin-left: -10px;
      }
      &:before {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: $gray-3;
        border-width: 11px;
        margin-left: -11px;
      }
    }
  }

  /* table striped
  ..................................*/
  &.table--striped {
    tbody tr {
      border: none;
    }
    tbody tr:nth-child(odd) {
      background: $gray-1;
    }
  }

  /* table small
  ..................................*/
  &.table--small {
    th,
    td {
      padding: 10px;
      height: auto;
    }
  }

  /* table block
  ..................................*/
  &.table--block {
    thead,
    th,
    tr,
    td {
      display: block;
    }
    th,
    td {
      float: left;
    }
    thead,
    tr {
      width: 100%;
      &:before, &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
    }
  }

  @media #{$small-only} {
    thead,
    th,
    tr,
    td {
      display: block;
    }
    th,
    td {
      width: 100%;
      float: left;
      padding: 10px 15px;
    }
    .table-row-head td {
      padding: 20px 15px;
    }
    thead,
    tr {
      width: 100%;
      &:before, &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
    }
  }
}

/* browser tweak
..................................*/
.firefox .table .table-row-head .table-row-arrow { bottom: 1px; }
