@import "../../packages/vhx-style-core/config/mixins";

.nav-primary {
  background: $gray-1;
  border-right: 1px solid $gray-2;
  top: 0;
  left: 0;
  position: fixed;
  overflow-y: auto;
  width: 225px;
  height: 100%;

  .head.primary {
    color: $gray-4;
  }
  h2,
  a {
    text-indent: 30px;
  }
  a {
    display: block;
    line-height: 40px;
    border-top: 1px solid $gray-2;

    &:link,
    &:visited {
      color: $gray-4;
    }

    &:hover {
      background: $gray-2;
    }
    &.is-active {
      background: $teal-2;
      color: #fff;
    }
  }
  li:last-child {
    a {
      border-bottom: 1px solid $gray-2;
    }
  }
}