/* imports
...................................*/
/* .....................................
  Colors - Grays
..................................... */
/* .....................................
  Colors - Teals
..................................... */
/* .....................................
  Colors - Red
..................................... */
/* .....................................
  Colors - Navy
..................................... */
/* .....................................
  Colors - Brand Palette
..................................... */
/* .....................................
  Colors - Grays
..................................... */
.white {
  background-color: #ffffff; }

.white-transparent {
  background-color: rgba(255, 255, 255, 0.7); }

.black {
  background-color: #000000; }

.black-transparent {
  background-color: rgba(0, 0, 0, 0.7); }

.gray-1 {
  background-color: #F0F2F4; }

.gray-2 {
  background-color: #D7DDE1; }

.gray-3 {
  background-color: #AFBCC3; }

.gray-4 {
  background-color: #869AA5; }

.gray-5 {
  background-color: #5E7887; }

.gray-6 {
  background-color: #375667; }

.gray-7 {
  background-color: #233741; }

.gray-8 {
  background-color: #F7F8F9; }

/* .....................................
  Colors - Teals
..................................... */
.teal-1 {
  background-color: #F2FBFB; }

.teal-2 {
  background-color: #22B9B0; }

.teal-3 {
  background-color: #149A97; }

/* .....................................
  Colors - Red
..................................... */
.red-1 {
  background-color: #D3104A; }

.red-2 {
  background-color: #D3104A; }

.red-3 {
  background-color: #BA1045; }

/* .....................................
  Colors - Navy
..................................... */
.navy {
  background-color: #00142B; }

.navy-transparent {
  background-color: rgba(0, 20, 43, 0.5); }

/* .....................................
  Colors - Brand Palette
..................................... */
.vhx-orange-1 {
  background-color: #AE4B4D; }

.vhx-orange-2 {
  background-color: #D06B5E; }

.vhx-orange-3 {
  background-color: #DC7865; }

.vhx-debian-1 {
  background-color: #731139; }

.vhx-debian-2 {
  background-color: #BA0F45; }

.vhx-debian-3 {
  background-color: #D3104B; }

.vhx-purple-1 {
  background-color: #432865; }

.vhx-purple-2 {
  background-color: #783479; }

.vhx-purple-3 {
  background-color: #8B3880; }

.vhx-currant-1 {
  background-color: #45065A; }

.vhx-currant-2 {
  background-color: #2E064A; }

.vhx-currant-3 {
  background-color: #1C0D32; }

.vhx-blue-1 {
  background-color: #0F4E7B; }

.vhx-blue-2 {
  background-color: #227F95; }

.vhx-blue-3 {
  background-color: #2A909E; }

.vhx-teal-1 {
  background-color: #017782; }

.vhx-teal-2 {
  background-color: #149A97; }

.vhx-teal-3 {
  background-color: #21B8B0; }

.vhx-green-1 {
  background-color: #1E6657; }

.vhx-green-2 {
  background-color: #7DA53E; }

.vhx-green-3 {
  background-color: #9DBB36; }

.vhx-yellow-1 {
  background-color: #D1955F; }

.vhx-yellow-2 {
  background-color: #FFB567; }

.vhx-yellow-3 {
  background-color: #FFC77C; }
