@import "../../vhx-style-core/config/mixins";

/*.....................................
  BUTTON MIXINS
......................................*/

/* sizes
......................................*/

$icon-xsmall: 1;
$icon-small: 2;
$icon-medium: 3;
$icon-large: 4;

// xsmall small medium large
$icon-size: 13px 15px 18px 30px;

$icon-padding-right:      0px 26px 40px 63px;
$icon-padding-left:       0px 27px 40px 63px;
$icon-bg-vert-pos:        0px 7px 12px 18px;
$icon-bg-horz-left-pos:   0px 10px 19px 29px;
$icon-bg-horz-right-pos:  0px 8px 18px 30px;

@mixin button-colors($background, $background-hover, $color, $color-hover, $border-color, $border-color-hover, $loader) {
  background-color: $background;
  color: $color;
  border: 1px solid $border-color;
  background-size: nth($icon-size, $icon-small) nth($icon-size, $icon-small);

  // states
  &:link,
  &:visited {
    color: $color;
    border: 1px solid $border-color;
  }

  &:hover,
  &.is-hover,
  &:focus:hover,
  &:focus.is-hover,
  &.is-selected {
    color: $color-hover;
    cursor: pointer;
    background-color: $background-hover;
    border: 1px solid $border-color-hover;
  }

  &:active,
  &.is-active,
  &:focus,
  &.is-focus  {
    color: $color-hover;
    background-color: $background;
    border: 1px solid $border-color;
  }

  &[disabled],
  &.is-disabled {
    opacity: .5;
    background-color: $background;
    color: $color;
    border: 1px solid $border-color;

    &:visited,
    &:hover,
    &.is-hover,
    &:active,
    &.is-active {
      background-color: $background;
      color: $color;
      border: 1px solid $border-color;
    }
  }

  &.is-processing,
  &.processing,
  &.is-loading,
  &.loading {
    background-position: center center !important;
    color: transparent !important;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%20%20viewBox%3D%220%200%2040%2040%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20opacity%3D%220.2%22%20fill%3D%22%23#{$loader}%22%20d%3D%22M20.201%2C5.169c-8.254%2C0-14.946%2C6.692-14.946%2C14.946c0%2C8.255%2C6.692%2C14.946%2C14.946%2C14.946%0D%0A%20%20s14.946-6.691%2C14.946-14.946C35.146%2C11.861%2C28.455%2C5.169%2C20.201%2C5.169z%20M20.201%2C31.749c-6.425%2C0-11.634-5.208-11.634-11.634%0D%0A%20%20c0-6.425%2C5.209-11.634%2C11.634-11.634c6.425%2C0%2C11.633%2C5.209%2C11.633%2C11.634C31.834%2C26.541%2C26.626%2C31.749%2C20.201%2C31.749z%22%2F%3E%0D%0A%3Cpath%20fill%3D%22%23#{$loader}%22%20d%3D%22M26.013%2C10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0%0D%0A%20%20C22.32%2C8.481%2C24.301%2C9.057%2C26.013%2C10.047z%22%3E%0D%0A%20%20%3CanimateTransform%20attributeType%3D%22xml%22%0D%0A%20%20%20%20attributeName%3D%22transform%22%0D%0A%20%20%20%20type%3D%22rotate%22%0D%0A%20%20%20%20from%3D%220%2020%2020%22%0D%0A%20%20%20%20to%3D%22360%2020%2020%22%0D%0A%20%20%20%20dur%3D%220.5s%22%0D%0A%20%20%20%20repeatCount%3D%22indefinite%22%2F%3E%0D%0A%20%20%3C%2Fpath%3E%0D%0A%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-size: 23px 23px;

    &.btn--small {
      background-size: 20px 20px;
    }
    &.btn--medium {
      background-size: 23px 23px;
    }
    &.btn--large {
      background-size: 45px 45px;
    }
  }
}

@mixin button-icon-position($position, $size-index) {
  @if $position == "center" {
    background-position: center center !important;
    color: transparent !important;
    padding: 0 20px !important;
    width: 40px;
    text-indent: -9999px;
  }

  @if $position == "left" {
    background-position: nth($icon-bg-horz-left-pos, $size-index) nth($icon-bg-vert-pos, $size-index);
    padding-left: nth($icon-padding-left, $size-index);
  }

  @if $position == "right" {
    background-position: right nth($icon-bg-horz-right-pos, $size-index) center;
    padding-right: nth($icon-padding-right, $size-index);
  }
}

@mixin button-block-colors($color, $color-hover, $border-color) {
  color: $color;

  &:link,
  &:visited {
    color: $color;
  }

  &:hover,
  &.is-hover
  &:active,
  &.is-active {
    color: $color-hover;
    box-shadow: inset 0px -4px 0px $border-color;
  }
}