<nav class="nav-primary">
  <h1 class="head-4 head--teal text-left padding-top-medium"><a class="block" href="/"><i class="icon-vhx-navy icon icon--xlarge margin-right-small">VHX</i> Quartz</a></h1>

  <h2 class="head-5 head--gray margin-top-large padding-bottom-medium">Styleguide</h2>
  <ul class="no-bullet">
    <li><a href="/styleguide/all#avatars">Avatars</a></li>
    <li><a href="/styleguide/all#colors">Backgrounds</a></li>
    <li><a href="/styleguide/all#borders">Borders</a></li>
    <li><a href="/styleguide/all#buttons">Buttons</a></li>
    <li><a href="/styleguide/all#charts">Charts</a></li>
    <li><a href="/styleguide/all#colors">Colors</a></li>
    <li><a href="/styleguide/all#forms">Forms</a></li>
    <li><a href="/styleguide/all#grid">Grid</a></li>
    <li><a href="/styleguide/all#icons">Icons</a></li>
    <li><a href="/styleguide/all#display">Layout</a></li>
    <li><a href="/styleguide/all#loaders">Loaders</a></li>
    <li><a href="/styleguide/all#media">Media</a></li>
    <li><a href="/styleguide/all#spacing">Spacing</a></li>
    <li><a href="/styleguide/all#tables">Tables</a></li>
    <li><a href="/styleguide/all#tooltips">Tooltips</a></li>
    <li><a href="/styleguide/all#typography">Typography</a></li>
  </ul>

  <h2 class="head-5 head--gray margin-top-xlarge padding-bottom-medium">Javascript</h2>
  <ul class="no-bullet">
    <li><a href="/js/mithril">Mithril</a></li>
    <li><a href="/js/components">Components</a></li>
  </ul>
</nav>