<nav class="nav-primary">
  <h1 class="head-4 head--teal text-left padding-top-medium"><a class="block" href="/"><i class="icon-vhx-navy icon icon--xlarge margin-right-small">VHX</i> Quartz</a></h1>

  <h2 class="head-5 head--gray margin-top-large padding-bottom-medium">Styleguide</h2>
  <ul class="no-bullet">
    <!-- <li><a href="style_markup" class="style_markup">HTML Conventions</a></li> -->
    <!-- <li><a href="style_css" class="style_css">CSS Conventions</a></li> -->
    <li><a href="/styleguide/layout">Layout</a></li>
    <li><a href="/styleguide/colors">Colors</a></li>
    <li><a href="/styleguide/typography">Typography</a></li>
    <li><a href="/styleguide/buttons">Buttons</a></li>
    <li><a href="/styleguide/elements">Elements</a></li>
    <li><a href="/styleguide/icons">Icons</a></li>
    <li><a href="/styleguide/tables">Tables</a></li>
  </ul>

  <h2 class="head-5 head--gray margin-top-xlarge padding-bottom-medium">Javascript</h2>
  <ul class="no-bullet">
    <li><a href="/js/mithril">Mithril</a></li>
  </ul>
</nav>