@import "../vhx:style-core/config/mixins";

// icon sizes
$icon-tiny: 9px;
$icon-small: 15px;
$icon-default: 23px;
$icon-smedium: 31px;
$icon-medium: 35px;
$icon-large: 45px;
$icon-xlarge: 60px;
$icon-line: 18px;