/* .....................................
  Colors - Grays
..................................... */
/* .....................................
  Colors - Teals
..................................... */
/* .....................................
  Colors - Red
..................................... */
/* .....................................
  Colors - Navy
..................................... */
/* .....................................
  Colors - Brand Palette
..................................... */
/* .....................................
  Fonts
..................................... */
/* .....................................
  Sets
..................................... */
/* .....................................
  Media Query Ranges
..................................... */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* .....................................
  Mixins for CSS3 Properties
..................................... */
/* helper function for margin and padding
......................................*/
/*
  collection of prefixed flexbox properties
  until we're using Compass 1.0+
  ..........................................*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*.....................................
  Pagination
......................................*/
.pagination {
  display: inline-block;
  text-align: center;
  margin: 20 0px; }
  .pagination .previous_page, .pagination .next_page {
    font-weight: bold; }
  .pagination .disabled {
    display: none; }
  .pagination .current {
    display: inline-block;
    background: #afbcc3;
    padding: 5 10px;
    border-radius: 5px;
    color: #fff;
    font-style: normal; }
  .pagination i {
    position: relative;
    top: 3px; }
  .pagination a {
    display: inline-block;
    padding: 0 5px; }
  .pagination a:link,
  .pagination a:visited {
    color: #375667; }
  .pagination a:hover,
  .pagination a:active {
    font-weight: bold; }
  .pagination .gap {
    color: #375667; }
