/* imports
...................................*/
@import "../config/include";

/*.....................................
  PERCENT BARS
......................................*/
.bar {
  width: 100%;
  display: block;
  background: $gray-1;
  border-radius: 10px;
  height: 15px;
  position: relative;
  .bar-percent {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $gray-7;
    border-radius: 10px;
  }
}
