@import "../config/include";

/*.....................................
  Admin Images & Embeds
......................................*/
.img,
.embed {
  position: relative;
  display: block;
  vertical-align: middle;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;

  &.img--small,
  &.embed--small {
    height: 40px;
    width: 71.111111111px;
    padding-bottom: 0;
  }
  &.img--medium,
  &.embed--medium {
    height: 80px;
    width: 142.222222222px;
    padding-bottom: 0;
  }
  &.img--large,
  &.embed--large {
    height: 150px;
    width: 266.666666667px;
    padding-bottom: 0;
  }
  &.img--xlarge,
  &.embed--xlarge {
    height: 250px;
    width: 444.444444444px;
    padding-bottom: 0;
  }
  &.img--square,
  &.embed--square {
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 0px;
  }

  .img-content,
  .embed-content,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

.img {
  background: $gray-1;
  border: 1px solid $gray-2;

  text-align: center;
  background-position: 50% 50%;
  border-radius: 3px;
  background-size: cover;
}

@media only screen and (max-width: 40em) {
  .img, .embed {
    &.img--medium, &.img--large, &.img--xlarge,
    &.embed--medium, &.embed--large, &.embed--xlarge {
      width: 100%;
    }
    &.cell {
      width: auto;
    }
  }
}
