@import "../config/mixins";

/*.....................................
  Foundation Grid Extensions
......................................*/
html {
  min-height: 100%;
  height: 100%;
}
.full-width {
  .row,
  &.row {
    max-width: 100%;
  }
}

// deprecate this
.centered-content,
.centered {
  text-align: center;
}
.contain {
  position: relative;
  // padding: 25px;
}
.position {
  position: relative;
}
.contain-300 {
  position: relative;
  width: 300px  !important;
  margin-right: auto;
  margin-left: auto;
}

.pull {
  float: left;
}
.push {
  float: right;
}

/* containers
......................................*/
.content-container {
  padding: 0px 0 75 0;

  .standard-width-container {
    padding: 0px 20;
    position: relative;
    margin: 0 auto;
  }
  .full-width-container {
    position: relative;
    width: 100%;
  }

  @media #{$medium-up} {
    .standard-width-container {
      padding: 0px 35;
    }
  }
}

%media-shared {
  @include cf();
  display: table !important;
  width: 100%;
  .media-nowrap {
    white-space: nowrap;
  }
  .media-fill {
    width: 100%;
  }
}

/* horizontal
.....................................*/
.media {
  @extend %media-shared;
  .media-unit {
    display: table-cell;
    vertical-align: middle;
    i {
      display: block;
    }
  }
}

/* vertical
.....................................*/
.media-vertical {
  @extend %media-shared;
  .media-unit {
    i {
      display: inline-block;
    }
    display: block;
  }
}

.flex-vertical-middle {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
}