/* .....................................
  Fonts
..................................... */
$font-default: "Helvetica", "Arial", sans-serif;
$font-helvetica: "Helvetica", "Arial", sans-serif;
$font-brandon: 'brandon-grotesque-n1', 'brandon-grotesque', 'Brandon Grotesque', sans-serif;
$font-gothic: "alternate-gothic-no-3-d-n4","alternate-gothic-no-3-d",sans-serif;

/* .....................................
  Sets
..................................... */
$sizes: 'default', 'small', 'smedium', 'medium', 'large', 'xlarge';
$spacing_types: 'margin', 'padding';
$positions: 'top', 'left', 'bottom', 'right';

/* .....................................
  Media Query Ranges
..................................... */
$small-range: (0em, 40em);
$smedium-range: (40.063em, 54em);
$medium-range: (40.063em, 64em);
$large-range: (64.063em, 90em);
$xlarge-range: (90.063em, 120em);
$xxlarge-range: (120.063em);

$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

$smedium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$smedium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";