@import "../config/include";

/*.....................................
  Symbols
......................................*/
.icon-vhx,
.icon-vhx-alt,
.icon-vhx-dark,
.icon-vhx-gray,
.icon-vhx-mono,
.icon-vhx-inverse,
.icon-vhx-light {
  display: inline-block;
  color: transparent;
  text-indent: -9999px;

  &.small {
    width: 47px;
    height: 20px;
  }
  &.medium {
    width: 65px;
  }
  &.large {
    width: 70px;
  }
}