@import "../config/include";

/*.....................................
  Tags
......................................*/
.tag {
  display: inline-block;
  background-color: $gray-1;
  border: 1px solid $gray-3;
  padding: 0px 7px;
  border-radius: 5px;
  font-size: 12px;


  &:link,
  &:visited {
    color: $gray-2;
  }
  &:hover,
  &:active {
    color: $gray-6;
    background-color: $gray-3;
  }
  &.is-selected {
    background-color: $teal-2;
    color: $white;
  }
  &.tag-removable-small {
    padding-left: 10px;
    padding-right: 30px;
    background-size: 15px;
    background-position: right 10px center;
  }
}

.tag-list {
  list-style: none;
  text-indent: 0;
  margin-left: 0;
  font-size: 14px;
  li {
    @include cf();
    margin: 5 0px;
    span {
      float: right;
    }
  }
}
