@import "../config/include";

/*.....................................
  Admin Input
......................................*/
.form {
  .row,
  .row.row {
    margin-bottom: rem-calc(25);
  }
  fieldset {
    border: none;
    margin: 0;
    padding: 0;

    &.inline {
      label, .inner-button, input {
        display: inline-block;
      }
    }
  }

  fieldset.is-disabled,
  .is-disabled {
    opacity: 0.4;

    label {
      cursor: default;
    }
  }

  /* labels
  ...................................*/
  label {
    display: block;
    color: $ac-default-dark;
    font-size: rem-calc(14);
    margin-bottom: rem-calc(5);
  }


  /* input fields
  ...................................*/
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  input[type="number"],
  textarea {
    height: rem-calc($field-height);
    width: 100%;
    padding: rem-calc(6 15);

    color: $ac-default-dark;
    font-size: rem-calc(14);
    background-color: #fff;
    border: 1px solid #d1d9dc;
    margin-bottom: 0;

    box-shadow: none;
    box-sizing: border-box;
    border-radius: 3px;
    transition: border .2s ease;

    @include placeholder {
      color: rgba(55, 86, 103, .5) !important;
      font-weight: normal;
    }

    &[disabled] {
      opacity: 0.4;
    }

    &.is-transparent {
      border: 1px solid transparent;
      color: #fff !important;
      background-color: rgba(255,255,255,0.1);
    }

    /* has error
    ...................................*/
    &.is-error {
      color: $ac-error-mid;

      border: 1px solid $ac-error-mid;

      &.is-selected {
        border: 2px solid #cf124c;
        background-color: #641728;
      }

      @include placeholder {
        color: $ac-error-light !important;
      }
    }

    /* + on focus
    ...................................*/
    &:focus {
      outline: none;
      color: $ac-default-dark;

      border: 1px solid #9aaab4;

      box-shadow: none;

      @include placeholder {
        color: transparent !important;
      }

      /* on focus + has error
      ...................................*/
      &.is-error {
        color: $ac-error-dark;

        border: 1px solid $ac-error-dark;

        &.is-selected {
          border: 2px solid #cf124c;
          background-color: #641728;
        }

        @include placeholder {
          transition: all .2s ease;
          color: $ac-error-light !important;
        }
      }
    }

    &.small {
      padding: rem-calc(6 10);
      width: rem-calc(45);
    }
    &.medium {
      padding: rem-calc(6 10);
      width: rem-calc(75);
    }
    &.large {
      width: rem-calc(175);
    }
    &.xlarge {
      width: rem-calc(200);
    }
    // over-write height set above, generally for <textarea>
    &.height-auto {
      height: auto !important;
    }
  }

  /* inner button
  ...................................*/
  .inner-button {
    position: relative;
    .button,
    .btn-gray,
    .btn-search,
    .btn {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  textarea {
    padding: rem-calc(10 15);
    &.small {
      width: 100%;
      min-height: rem-calc($field-height);
    }
    &.medium {
      width: 100%;
      min-height: rem-calc($field-height * 1.5);
    }
    &.large {
      width: 100%;
      min-height: rem-calc($field-height * 2);
    }
    &.xlarge {
      width: 100%;
      min-height: rem-calc($field-height * 3.5);
    }
  }
}

.input {
  position: relative;
  .input-label {
    position: absolute;
    top: rem-calc(11);
    left: rem-calc(15);
    color: $ac-default-light;
  }
}
