@import "../config/include";

/*.....................................
  Admin Radio
......................................*/
.form .radio {
  position: relative;
  display: inline-block;
  width: 100%;
  list-style: none;
  margin-left: 0;

  color: $ac-default-dark;
  font-size: 14px;
  background: transparent;

  @include user-select(none);

  /* radio
  ...................................*/
  input[type="radio"] {
    display: none;
  }

  li {
    @extend %cf;
    display: inline-block;
    margin-right: 10px;
  }

    /* label unchecked
  ...................................*/
  label {
    display: block;
    height: 20px;
    line-height: 20px;
    margin: 0px;
    float: left;
    box-sizing: border-box;

    .radio--icon {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      float: left;

      border: 1px solid $ac-default-dark;

      box-shadow: none;
      box-sizing: border-box;
      border-radius: 20px;
      transition: box-shadow .2s ease, color .2s ease;

      .circle-top {
        opacity: 0;
        transition: opacity .2s ease;
        display: block;
        height: 5px;
        overflow: hidden;
        position: absolute;
        top: 4px;
        left: 4px;
        span {
          display: block;
          width: 10px;
          height: 10px;
          background: $ac-default-mid;
          border-radius: 10px;
        }
      }
      .circle-bottom {
        opacity: 0;
        transition: opacity .2s ease;
        display: block;
        height: 5px;
        overflow: hidden;
        position: absolute;
        bottom: 4px;
        left: 4px;
        span {
          position: relative;
          top: -5px;
          display: block;
          width: 10px;
          height: 10px;
          background: $ac-default-dark;
          border-radius: 10px;
        }
      }
    }
    .radio--label {
      display: block;
      float: left;
      height: 20px;
    }
  }

  /* label checked
  ...................................*/
  input[type="radio"]:checked + label {
    .radio--icon {
      .circle-top, .circle-bottom {
        opacity: 1;
        transition: opacity .2s ease;
      }
    }
  }

  /* stacked radio
  ...................................*/
  &.stack {
    display: block;
    height: auto;
    li {
      display: block;
      margin-right: 0px;
      margin-bottom: 10px;
    }
  }

  /* color styles
  ...................................*/
  &.primary {
    .circle-top span { background: $ac-pri-mid !important; }
    .circle-bottom span { background: $ac-pri-dark !important; }
  }
  &.secondary {
    .circle-top span { background: $ac-sec-mid !important; }
    .circle-bottom span { background: $ac-sec-dark !important; }
  }
  &.success {
    .circle-top span { background: $ac-succ-mid !important; }
    .circle-bottom span { background: $ac-succ-dark !important; }
  }
  &.alert {
    .circle-top span { background: $ac-error-mid !important; }
    .circle-bottom span { background: $ac-error-dark !important; }
  }
}