@import "../../../../quartz-css/core/config/mixins";

.c-autosuggest--container {
  position: relative;
}
.c-autosuggest--list {
  width: 100%;
  position: absolute;
  background-color: #fff;
  background: $white;
  z-index: 2147483600;
  border: 1px solid $gray-3;
  border-top: none;
  display: none;
  &.is-open {
    display: block;
  }
}

.c-autosuggest--input-container {
  width: 100%;
  background: $white;
  input {
    border-radius: 3px 3px 0px 0 !important;
  }
}
.c-autosuggest--options {
  overflow-y: auto;
  margin-bottom: 0;
  max-height: 210px;
  &.is-loading {
    background-position: center center;
    background-size: 40px;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%20%20viewBox%3D%220%200%2040%2040%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20opacity%3D%220.2%22%20fill%3D%22%237a878e%22%20d%3D%22M20.201%2C5.169c-8.254%2C0-14.946%2C6.692-14.946%2C14.946c0%2C8.255%2C6.692%2C14.946%2C14.946%2C14.946%0D%0A%20%20s14.946-6.691%2C14.946-14.946C35.146%2C11.861%2C28.455%2C5.169%2C20.201%2C5.169z%20M20.201%2C31.749c-6.425%2C0-11.634-5.208-11.634-11.634%0D%0A%20%20c0-6.425%2C5.209-11.634%2C11.634-11.634c6.425%2C0%2C11.633%2C5.209%2C11.633%2C11.634C31.834%2C26.541%2C26.626%2C31.749%2C20.201%2C31.749z%22%2F%3E%0D%0A%3Cpath%20fill%3D%22%237a878e%22%20d%3D%22M26.013%2C10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0%0D%0A%20%20C22.32%2C8.481%2C24.301%2C9.057%2C26.013%2C10.047z%22%3E%0D%0A%20%20%3CanimateTransform%20attributeType%3D%22xml%22%0D%0A%20%20%20%20attributeName%3D%22transform%22%0D%0A%20%20%20%20type%3D%22rotate%22%0D%0A%20%20%20%20from%3D%220%2020%2020%22%0D%0A%20%20%20%20to%3D%22360%2020%2020%22%0D%0A%20%20%20%20dur%3D%220.5s%22%0D%0A%20%20%20%20repeatCount%3D%22indefinite%22%2F%3E%0D%0A%20%20%3C%2Fpath%3E%0D%0A%3C%2Fsvg%3E');
    li {
      opacity: 0;
    }
  }
}
.c-autosuggest--option {
  color: #233741;
  &.is-selected {
    cursor: pointer;
    background-color: #F0F2F4;
  }
}
/* imports
...................................*/
@import "../../../../quartz-css/core/config/mixins";

@mixin avatar-defaults($diameter) {
  width: $diameter;
  height: $diameter;
  .avatar-img {
    line-height: $diameter;
  }
}
$avatar-colors-name: "blue", "purple", "pink", "orange", "green", "forest", "light-blue", "gray", "teal";
$avatar-colors-hex: $vhx-blue, $vhx-purple, lighten($red, 50%), $vhx-orange, lighten($vhx-green, 50%), $vhx-green, lighten($navy, 50%), $gray-8, $teal-2;


/*.....................................
  AVATARS
......................................*/
.avatar {
  @include avatar-defaults(35px);
  position: relative;
  display: inline-block;
  background-color: $navy-transparent;

  @for $i from 1 through length($avatar-colors-name) {
    &.color-#{nth($avatar-colors-name, $i)} {
      background-color: nth($avatar-colors-hex, $i);
    }
  }

  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  &.avatar--border {
   .avatar-img {
     border: 2px solid $white;
    }
  }
  .avatar-user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  &:before {
    color: red;
    content: ' ';
    display: block;
    position: absolute;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2223%22%20viewBox%3D%220%200%2023%2023%22%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M7.1%2011c1.8%200%201.8-2.8%200-2.8S5.3%2011%207.1%2011zM15.9%2011c1.8%200%201.8-2.8%200-2.8s-1.8%202.8%200%202.8z%22%20fill%3D%22%23ffffff%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M4.2%2012.9c.3%200%20.5.2.5.5v1.4h13.6v-1.4c0-.3.2-.5.5-.5h3.8V4.6c0-.4-.3-.8-.8-.8H1.2c-.4%200-.8.4-.8.8v8.3h3.8zm11.7-5.7c3.1%200%203.1%204.8%200%204.8s-3.1-4.8%200-4.8zm-8.8%200c3.1%200%203.1%204.8%200%204.8S4%207.2%207.1%207.2z%22%20fill%3D%22%23ffffff%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M19.3%2013.9v1.4c0%20.3-.2.5-.5.5H4.2c-.3%200-.5-.2-.5-.5v-1.4H.4v4.5c0%20.4.3.8.8.8h20.7c.4%200%20.8-.4.8-.8v-4.5h-3.4z%22%20fill%3D%22%23ffffff%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3Cpath%20d%3D%22M7.1%208.2c-1.8%200-1.8%202.8%200%202.8s1.8-2.8%200-2.8zM15.9%208.2c-1.8%200-1.8%202.8%200%202.8s1.8-2.8%200-2.8z%22%20fill%3D%22%23ffffff%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50%;
  }

  &.avatar--xsmall {
    @include avatar-defaults(25px);
  }
  &.avatar--small {
    @include avatar-defaults(35px);
  }
  &.avatar--medium {
    @include avatar-defaults(45px);
  }
  &.avatar--large {
    @include avatar-defaults(60px);
  }
  &.avatar--xlarge {
    @include avatar-defaults(80px);
  }
  &.avatar--xxlarge {
    @include avatar-defaults(100px);
  }
}
@import "../../../../quartz-css/core/config/mixins";

$field-height: 40px;

%checkbox-label-overflow {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin checkbox-label($denominator) {
  @extend %checkbox-label-overflow;
  width: calc(100% - #{($field-height / $denominator) + 5});
  left: #{($field-height / $denominator) + 5};
}

/*.....................................
  Admin Checkbox
......................................*/
.form .checkbox {
  position: relative;
  display: inline-block;
  min-height: $field-height;
  width: 100%;

  color: $gray-6;
  font-size: 14px;
  background: transparent;
  user-select: none;

  &:after {
    content: "";
    display: table;
    clear: both;
  }



  /* checkbox
  ...................................*/
  input[type="checkbox"] {
    display: none;
  }

  /* label unchecked
  ...................................*/
  label {
    display: block;
    min-height: $field-height;
    margin: 0;
    float: left;
    box-sizing: border-box;

    line-height: $field-height;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    &.wide {
      width: 100%;
      .checkbox--contain {
        min-height: $field-height;
      }
    }

    .checkbox--contain {
      width: 100%;
      display: block;

      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    // unchecked
    .checkbox--icon {
      display: inline-block;
      width: $field-height;
      height: $field-height;
      margin-right: 10px;
      float: left;
      background-color: #fff;
      background-position: 50% 50%;
      background-size: 75%;
      position: relative;

      box-shadow: none;
      box-sizing: border-box;
      border-radius: 3px;
      transition: box-shadow .2s ease, color .2s ease;

      .checkbox-animate {
        transition: all 300ms ease;
        width: $field-height - 10;
        height: $field-height - 10;
        top: 4px;
        right: 4px;
        display: block;
        position: absolute;
        background: #fff;
      }
    }
    .checkbox--label {
      display: block;
      margin-left: 5px;
      float: left;
      min-height: $field-height;
    }

    &.check-right {
      .checkbox--label {
        float: left;
        text-align: left;
        }
      .checkbox--icon {
        float: right;
      }
    }
  }


  /* label not-checked
  ...................................*/
  &.invert input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label {
    .checkbox--icon {
      transition: border 400ms ease-out;
      border: 1px solid #d1d9dc;
      background-image: none;
    }
  }

  /* label checked
  ...................................*/
  input[type="checkbox"]:checked + label,
  &.invert input[type="checkbox"]:not(:checked) + label {
    .checkbox--icon {
      transition: border 400ms ease-out;
      border: 1px solid $gray-6;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMyIgaGVpZ2h0PSIyMyIgdmlld0JveD0iMCAwIDIzIDIzIj48dGl0bGU+aWNvbnMtdWktc2V0IGNvcHk8L3RpdGxlPjxyZWN0IHg9IjQuNjEiIHk9IjkuMDYiIHdpZHRoPSIxOS41MiIgaGVpZ2h0PSI0Ljg5IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMy45MiAxMy41Mykgcm90YXRlKC00NSkiIGZpbGw9IiMwMGFkZWYiLz48cmVjdCB4PSIzLjg5IiB5PSI3LjI4IiB3aWR0aD0iNC44OSIgaGVpZ2h0PSIxMy4wMSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTcuODkgOC41Mikgcm90YXRlKC00NS4wMSkiIGZpbGw9IiMwMDg4Y2MiLz48L3N2Zz4='); background-repeat: no-repeat;
      .checkbox-animate {
        width: 0px;
        height: 0px;
      }
    }
  }

  /* label checked
  ...................................*/
  input[type="checkbox"]:focus + label {
    .checkbox--icon {
      border: 1px solid #9aaab4;
    }
  }
}

.form .checkbox.small {
    min-height: $field-height/3;

    label {
      min-height: $field-height/3;
      line-height: $field-height/3;

    .checkbox--icon {
      width: $field-height/3;
      height: $field-height/3;
      .checkbox-animate {
        width: $field-height/3 - 3;
        height: $field-height/3 - 3;
        top: 1px;
        right: 1px;
      }
    }
    .checkbox--label {
      @include checkbox-label(3);
    }
    .checkbox--label,
    .checkbox--contain {
      min-height: $field-height/3;
    }
  }
}
.form .checkbox.medium {
    min-height: $field-height/2;
    label {
      min-height: $field-height/2;
      line-height: $field-height/2;

    .checkbox--icon {
      width: $field-height/2;
      height: $field-height/2;
      .checkbox-animate {
        width: $field-height/2 - 5;
        height: $field-height/2 - 5;
        top: 2px;
        right: 2px;
      }
    }
    .checkbox--label {
      @include checkbox-label(2);
    }
    .checkbox--label,
    .checkbox--contain {
      min-height: $field-height/2;
    }
  }
}

.form .checkbox.alt {
  label {
   border-radius: 20px;
    background: $white;
    width: 70px;
    padding: 7px;

    .checkbox--contain {
      display: block;
      background: $white;
      position: relative;
      padding: 0;
      border-radius: 20px;
      height: 100%;
      width: 100%;
    }
    .checkbox--label {
      display: none;
    }
    .checkbox--circle {
      transition: all 200ms ease;
      display: inline-block;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0;

      .circle-top {
        transition: opacity .2s ease;
        display: block;
        height: 12px;
        overflow: hidden;
        position: absolute;
        top: 0px;
        left: 0px;
        span {
          display: block;
          width: 24px;
          height: 24px;
          background: $gray-3;
          border-radius: 24px;
        }
      }
      .circle-bottom {
        transition: opacity .2s ease;
        display: block;
        height: 12px;
        overflow: hidden;
        position: absolute;
        bottom: 0px;
        left: 0px;
        span {
          position: relative;
          top: -12px;
          display: block;
          width: 24px;
          height: 24px;
          background: $gray-3;
          border-radius: 23px;
        }
      }
    }
  }


  /* label not-checked
  ...................................*/
  &.invert input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label {
    border: 1px solid #d1d9dc;

    .checkbox--icon {
      border: none;
      height: 20px;
      width: 20px;
      position: absolute;
      margin-right: 0;
      top: 2px;
      left: auto;
      right: 3px;
      //this is a gray 'X'
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2223%22%20viewBox%3D%220%200%2023%2023%22%3E%3Cpath%20d%3D%22M21.5%2018.3c.3.3.4.6.4.9%200%20.3-.1.6-.4.9l-1.3%201.4c-.3.3-.6.4-.9.4-.3%200-.6-.1-.9-.4l-6.8-6.8-6.8%206.8c-.3.3-.6.4-.9.4-.3%200-.6-.1-.9-.4l-1.4-1.3c-.3-.3-.4-.6-.4-.9%200-.3.1-.6.4-.9l6.8-6.9-6.9-6.8c-.2-.3-.3-.6-.3-.9%200-.3.1-.6.4-.9l1.4-1.4c.3-.3.6-.4.9-.4.3%200%20.6.1.9.4l6.8%206.8%206.8-6.8c.3-.3.6-.4.9-.4.3%200%20.6.1.9.4l1.3%201.4c.3.3.4.6.4.9%200%20.3-.1.7-.4.9l-6.8%206.9%206.8%206.7z%22%20fill%3D%22%23D1D9DC%22%2F%3E%3C%2Fsvg%3E'); background-repeat: no-repeat;
    }
    .checkbox--circle {
      left: 0;

      .circle-top {
        span {
          background: $southerly-sky;
        }
      }
      .circle-bottom {
        span {
          background: $regent-gray;
        }
      }
    }
  }

  /* label checked
  ...................................*/
  input[type="checkbox"]:checked + label,
  &.invert input[type="checkbox"]:not(:checked) + label {
    border: 1px solid #9aaab4;

    .contain {
      background: $vimeo-blue;
    }
    .checkbox--icon {
      border: none;
      height: 20px;
      width: 20px;
      position: absolute;
      margin-right: 0;
      top: 2px;
      left: 5px;
      right: auto;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMyIgaGVpZ2h0PSIyMyIgdmlld0JveD0iMCAwIDIzIDIzIj48dGl0bGU+aWNvbnMtdWktc2V0IGNvcHk8L3RpdGxlPjxyZWN0IHg9IjQuNjEiIHk9IjkuMDYiIHdpZHRoPSIxOS41MiIgaGVpZ2h0PSI0Ljg5IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMy45MiAxMy41Mykgcm90YXRlKC00NSkiIGZpbGw9IiMwMGFkZWYiLz48cmVjdCB4PSIzLjg5IiB5PSI3LjI4IiB3aWR0aD0iNC44OSIgaGVpZ2h0PSIxMy4wMSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTcuODkgOC41Mikgcm90YXRlKC00NS4wMSkiIGZpbGw9IiMwMDg4Y2MiLz48L3N2Zz4='); background-repeat: no-repeat;
    }
    .checkbox--circle {
      left: 30px;
      .circle-top {
        span {
          background: $vimeo-blue;
        }
      }
      .circle-bottom {
        span {
          background: $vimeo-blue-darkened;
        }
      }
    }
  }

  &.small input[type="checkbox"]:checked + label,
  &.small.invert input[type="checkbox"]:not(:checked) + label {
    .checkbox--circle {
      left: 20px;
    }
  }

  &.small {
    label {
      border-radius: 15px;
      width: 52.5px;
      padding: 7px;

      .checkbox--contain {
        border-radius: 15px;
      }
      .checkbox--circle {
        left: 0px;
        top: -2px;
        width: 18px;
        height: 18px;

        .circle-top {
          height: 9px;
          span {
            width: 18px;
            height: 18px;
            border-radius: 18px;
          }
        }
        .circle-bottom {
          height: 9px;
          span {
            top: -9px;
            width: 18px;
            height: 18px;
            border-radius: 18px;
          }
        }
      }
    }

    /* label not-checked
    ...................................*/
    &.invert input[type="checkbox"]:checked + label,
    input[type="checkbox"]:not(:checked) + label {
      .checkbox--icon {
        height: 15px;
        width: 15px;
        top: 0px;
        right: 0px;
        left: auto;
      }
      .checkbox--circle {
        left: 0px;
      }
    }

    /* label checked
    ...................................*/
    input[type="checkbox"]:checked + label,
    &.invert input[type="checkbox"]:not(:checked) + label {
      .checkbox--icon {
        height: 18px;
        width: 18px;
        top: -2px;
        left: -1px;
        right: auto;
      }
    }
  }
}

.checkbox-container {
  @include cf();
  .checkbox {
    float: left;
    width: auto;
  }
  .checkbox-label {
    float: left;
    padding-left: 15px;
    line-height: 30px;
  }
}

[data-checkable] {
  &.is-hovered,
  &:hover {
    background: $teal-3 !important;
    cursor: pointer;
  }
}
@import "../../../../quartz-css/core/config/mixins";

.c-filter--container {
  width: auto;

  .c-filter--applied-container {
    float: left !important;
  }
  .c-filter--applied {
    background-color: #D7DDE1;
  }
  &.is-open {
    .c-filter--trigger {
      background-color: #D7DDE1;
    }
    .c-filter--dropdown {
      right: auto;
      left: 0;
    }
  }
  .c-filter--trigger-container {
    width: 100px;
    margin-top: 5px;
  }
  .c-filter--dropdown {
    &:before {
      left: 44px;
    }
    &:after {
      left: 45px;
    }
    .icon-calendar-navy {
      background-position: 10px center;
    }
    .radio--stacked {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    ul { max-height: none; }
    .c-filter--item {
      background-position: center right 15px;
      padding: 15px !important;
      display: block;
    }
  }
  .c-filter--item-container {
    display: none;
    &.is-active {
      display: block;
    }
    padding-bottom: 10px;
    .radio-teal label .radio--icon {
      margin-right: 8px;
    }
  }
  .c-filter--trigger,
  .c-filter--applied {
    background-position: right 15px center;
    line-height: 20px;
    height: 40px;
    padding: 10px;
  }
  .c-filter--applied {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
    padding-right: 0px;
    color: $navy;
    border-radius: 3px;
  }
  .c-filter--label {
    height: 50px;
    line-height: 50px;
  }
}
@import "../../../../quartz-css/core/config/mixins";

.c-modal {
  position: fixed;
  left: -9999px;
  &.is-active,
  &.is-open {
    z-index: 2147483801;
    position: relative;
    left: 0;
    .c-modal-container {
      position: fixed;
      animation: modal-open 200ms ease forwards;
    }
    .c-modal-bg {
      animation: modal-bg-open 300ms ease forwards;
      position: fixed;
      left: 0;
    }
  }
  .c-modal-container {
    animation: modal-close 200ms ease forwards;
    width: 450px;
    background: #ffffff;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    border-radius: 0px;
    bottom: 50%;
    margin-left: -225px;
    position: absolute;

    &.c-modal--small {
      width: 300px;
      margin-left: -150px;
    }

    &.c-modal--medium {
      width: 450px;
      margin-left: -225px;
    }

    &.c-modal--large {
      width: 650px;
      margin-left: -325px;
    }

    &.c-modal--has-actions {
      padding-bottom: 65px;
    }
    .c-modal--close {
      display: block;
      position: absolute;
      top: -25px;
      right: -25px;
      cursor: pointer;
      width: 16px;
    }
    .c-modal--header {
      border-bottom: 1px solid rgba(55, 86, 103, 0.2);
    }
    .c-modal--actions {
      background: #ffffff;
      border-top: 1px solid rgba(55, 86, 103, 0.2);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
  .c-modal-bg {
    background-color: rgba(0, 20, 43, .55);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    animation: modal-bg-close 300ms ease forwards;
    left: -99999px;
  }
}

@keyframes modal-open {
    0% {
      left: 50%;
      z-index: 10;
      transform: scale(.5);
      opacity: 0;
    }
    100% {
      left: 50%;
      z-index: 10;
      transform: scale(1);
      opacity: 1;
    }
}

@keyframes modal-close {
    0% {
      left: 50%;
      z-index: 10;
      transform: scale(1);
      opacity: 1;
    }
    99% {
      left: 50%;
      z-index: 10;
      transform: scale(.5);
      opacity: 0;
    }
    100% {
      left: -99999px;
      z-index: 10;
      transform: scale(.5);
      opacity: 0;
    }
}


@keyframes modal-bg-open {
    0% {
      z-index: 5;
      left: 0;
      opacity: 0;
    }
    100% {
      z-index: 5;
      left: 0;
      opacity: 1;
    }
}


@keyframes modal-bg-close {
    0% {
      z-index: 5;
      left: 0;
      opacity: 1;
    }
    99% {
      z-index: 5;
      left: 0;
      opacity: 0;
    }
    100% {
      z-index: -10;
      left: -99999px;
      opacity: 0;
    }
}
@import "../../../../quartz-css/core/config/mixins";

/*.....................................
  Admin Radio
......................................*/
.form .radio-gray,
.form .radio-teal,
.form .radio-vimeo-blue {
  position: relative;
  display: inline-block;
  width: 100%;
  list-style: none;
  margin-left: 0;

  color: $gray-6;
  font-size: 14px;
  background: transparent;

  user-select: none;

  /* radio
  ...................................*/
  input[type="radio"] {
    display: none;
  }

  li {
    @include cf();
    display: inline-block;
    margin-right: 10px;
  }

    /* label unchecked
  ...................................*/
  label {
    display: block;
    height: 20px;
    line-height: 20px;
    margin: 0px;
    box-sizing: border-box;

    .radio--icon {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      margin-left: 5px;
      float: left;

      border: 1px solid $gray-6;

      box-shadow: none;
      box-sizing: border-box;
      border-radius: 20px;
      transition: box-shadow .2s ease, color .2s ease;

      .circle-top {
        opacity: 0;
        transition: opacity .2s ease;
        display: block;
        height: 5px;
        overflow: hidden;
        position: absolute;
        top: 4px;
        left: 4px;
        span {
          display: block;
          width: 10px;
          height: 10px;
          background: $gray-5;
          border-radius: 10px;
        }
      }
      .circle-bottom {
        opacity: 0;
        transition: opacity .2s ease;
        display: block;
        height: 5px;
        overflow: hidden;
        position: absolute;
        bottom: 4px;
        left: 4px;
        span {
          position: relative;
          top: -5px;
          display: block;
          width: 10px;
          height: 10px;
          background: $gray-6;
          border-radius: 10px;
        }
      }
    }
    .radio--label {
      float: left;
      height: 20px;
    }
  }

  /* label checked
  ...................................*/
  input[type="radio"]:checked + label {
    .radio--icon {
      .circle-top, .circle-bottom {
        opacity: 1;
        transition: opacity .2s ease;
      }
    }
  }

  /* stacked radio
  ...................................*/
  &.radio--stacked,
  &.radio--buttons {
    display: block;
    height: auto;
    li {
      display: block;
      margin-right: 0px;
      margin-bottom: 10px;
    }
  }
  &.radio--buttons li {
    height: auto !important;
    label {
      padding: 10px;
      min-height: 58px;
    }
    .radio--label,
    label {
      height: auto !important;
    }
    .radio--icon {
      margin-top: 8px;
      background: white;
    }
  }

  /* color styles
  ...................................*/
  &.radio-teal {
    .circle-top span { background: $teal-2 !important; }
    .circle-bottom span { background: $teal-3 !important; }
  }

  &.radio-vimeo-blue {
    .circle-top span { background: $vimeo-blue !important; }
    .circle-bottom span { background: $vimed-blue-darkened !important; }
  }
}
.c-select--search {
  background-position: right 8px center;
}
@import "../../../../quartz-css/core/config/mixins";
@import "../../../../quartz-css/icons/styles/icons.extends";

.c-select--container {
  &.has-trigger {
    .c-select--dropdown {
      top: 35px;
    }
  }
  &.has-search {
    .c-select--dropdown {
      min-height: 150px;
    }
    .c-select--options {
      margin-top: 80px;
    }
  }
}
.c-select--dropdown {
  position: absolute;
  max-height: 323px;
  top: 55px;
  left: 0;
  z-index: 2147483600;
  display: none;
  box-shadow: 0 0 10px $gray-3;
  &.is-open {
    display: block;
  }
}

.c-select--dropdown {
  &:after, &:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 10px;
    z-index: 0;
  }
  &:before {
    border: solid transparent;
    border-width: 9px;
    z-index: 1;
  }
}

// bottom centered
.caret--bottom-center {
  .c-select--dropdown {
    &:after, &:before {
      top: 100%;
      left: 50%;
    }
  }
}

.caret--bottom-left {
  .c-select--dropdown {
    &:after, &:before {
      top: 100%;
      left: 22px;
    }
  }
}

.caret--bottom-right {
  .c-select--dropdown {
    &:after, &:before {
      top: 100%;
      right: 22px;
    }
    &:before {
      right: 23px;
    }
  }
}

.caret--bottom-right,
.caret--bottom-left,
.caret--bottom-center {
  .c-select--dropdown {
    &:after {
      border-top-color: $gray-3;
      margin-left: -11px;
    }
    &:before {
      border-top-color: $white;
      margin-left: -10px;
    }
  }
}

// top centered
.caret--top-center {
  .c-select--dropdown {
    &:after, &:before {
      bottom: 100%;
      left: 50%;
    }
  }
}

// top left
.caret--top-left {
  .c-select--dropdown {
    &:after, &:before {
      bottom: 100%;
      left: 22px;
    }
  }
}

// top right
.caret--top-right {
  .c-select--dropdown {
    &:after, &:before {
      bottom: 100%;
      right: 11px;
    }
    &:before {
      right: 12px;
    }
  }
}

.caret--top-right,
.caret--top-left,
.caret--top-center {
  .c-select--dropdown {
    &:after {
      border-bottom-color: $gray-3;
      margin-left: -11px;
    }
    &:before {
      border-bottom-color: $white;
      margin-left: -10px;
    }
  }
}

.c-select--input-container {
  z-index: 2;
  position: absolute;
}
.c-select--options {
  overflow-y: auto;
  max-height: 218px;
}
.has-action {
  .c-select--options {
    max-height: 200px;
  }
}
.c-select--option {
  color: #233741;
  line-height: 25px;
  padding-top: 7px;
  &.is-selected {
    cursor: pointer;
    background-color: #F0F2F4;
  }
}
.c-select--item-label {
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

// Media Item container
.c-media-item--container {
  transition: background-color .2s ease-out;
  &:hover,
  &.is-selected {
    cursor: pointer;
    background-color: transparentize($teal-2, .9);
    .c-item-toggle {
      opacity: 1;
    }
  }
  .c-media-item--image-container {
    max-width: 30%;
  }
  .c-media-item--content {
    max-width: 65%;
  }
}

// Media Item +/✓ circle
.c-item-toggle {
  opacity: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-position: center;
  background-color: $teal-2;
  transform: translateY(8px);
  transition: opacity .2s ease-out;
  &.is-selected {
    background-color: $white;
    opacity: 1;
  }
}

.c-select--footer {
  .btn-teal {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .btn-teal:link,
  .btn-teal:visited {
    background-color: white;
    border-color: white;
    color: $teal-2;
  }
  .btn-teal:hover,
  .btn-teal:active,
  .btn-teal.is-loading, {
    background-color: $teal-2 !important;
    border-color: $teal-2 !important;
    color: $white;
  }
  .btn-teal.is-loading {
    color: transparent;
  }
}
.c-sidebar {
  overflow: auto;
  position: fixed;
  width: 462px;
  top: 0;
  z-index: 2147483800;
  bottom: 0;
  right: -470px;
  height: 100%;
}
.c-sidebar--close {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 10;
  background-color: white;
  background-size: 10px !important;
}.c-tag {
  &.is-hover,
  &:hover {
    z-index: 2;
  }
  .c-tag--button {
    z-index: 1;
  }
  .icon-x-white {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    opacity: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: right 500ms cubic-bezier(0.19, 1, 0.22, 1), opacity 300ms ease;
  }
  &.is-hover {
    .c-tag--button {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      background-color: #22B9B0 !important;
    }
    .icon-x-white {
      opacity: 1;
      right: -38px;
    }
  }
}