/* imports
...................................*/
@import "../config/variables";

/* .....................................
  Colors - Grays
..................................... */
.white {
	background-color: $white;
}
.white-transparent {
  background-color: $white-transparent;
}
.black {
  background-color: $black;
}
.black-transparent {
  background-color: $black-transparent;
}
.gray-1 {
  background-color: $gray-1;
}
.gray-2 {
  background-color: $gray-2;
}
.gray-3 {
  background-color: $gray-3;
}
.gray-4 {
  background-color: $gray-4;
}
.gray-5 {
  background-color: $gray-5;
}
.gray-6 {
  background-color: $gray-6;
}
.gray-7 {
  background-color: $gray-7;
}
.gray-8 {
  background-color: $gray-8;
}

/* .....................................
  Colors - Teals
..................................... */
.teal-1 {
  background-color: $teal-1;
}
.teal-2 {
  background-color: $teal-2;
}
.teal-3 {
  background-color: $teal-3;
}

/* .....................................
  Colors - Red
..................................... */
.red-1 {
  background-color: $red-1;
}
.red-2 {
  background-color: $red-2;
}
.red-3 {
  background-color: $red-3;
}

/* .....................................
  Colors - Navy
..................................... */
.navy {
  background-color: $navy;
}
.navy-transparent {
  background-color: $navy-transparent;
}

/* .....................................
  Colors - Brand Palette
..................................... */
.vhx-orange-1 {
  background-color: $vhx-orange-1;
}
.vhx-orange-2 {
  background-color: $vhx-orange-2;
}
.vhx-orange-3 {
  background-color: $vhx-orange-3;
}

.vhx-debian-1 {
  background-color: $vhx-debian-1;
}
.vhx-debian-2 {
  background-color: $vhx-debian-2;
}
.vhx-debian-3 {
  background-color: $vhx-debian-3;
}

.vhx-purple-1 {
  background-color: $vhx-purple-1;
}
.vhx-purple-2 {
  background-color: $vhx-purple-2;
}
.vhx-purple-3 {
  background-color: $vhx-purple-3;
}

.vhx-currant-1 {
  background-color: $vhx-currant-1;
}
.vhx-currant-2 {
  background-color: $vhx-currant-2;
}
.vhx-currant-3 {
  background-color: $vhx-currant-3;
}

.vhx-blue-1 {
  background-color: $vhx-blue-1;
}
.vhx-blue-2 {
  background-color: $vhx-blue-2;
}
.vhx-blue-3 {
  background-color: $vhx-blue-3;
}

.vhx-teal-1 {
  background-color: $vhx-teal-1;
}
.vhx-teal-2 {
  background-color: $vhx-teal-2;
}
.vhx-teal-3 {
  background-color: $vhx-teal-3;
}

.vhx-green-1 {
  background-color: $vhx-green-1;
}
.vhx-green-2 {
  background-color: $vhx-green-2;
}
.vhx-green-3 {
  background-color: $vhx-green-3;
}

.vhx-yellow-1 {
  background-color: $vhx-yellow-1;
}
.vhx-yellow-2 {
  background-color: $vhx-yellow-2;
}
.vhx-yellow-3 {
  background-color: $vhx-yellow-3;
}
