/* .....................................
  Fonts
..................................... */
/* .....................................
  Sets
..................................... */
/* .....................................
  Media Query Ranges
..................................... */
/* .....................................
  Colors - Grays
..................................... */
/* .....................................
  Colors - Teals
..................................... */
/* .....................................
  Colors - Red
..................................... */
/* .....................................
  Colors - Navy
..................................... */
/* .....................................
  Colors - Brand Palette
..................................... */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* .....................................
  Mixins for CSS3 Properties
..................................... */
/* helper function for margin and padding
......................................*/
/*
  collection of prefixed flexbox properties
  until we're using Compass 1.0+
  ..........................................*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*.....................................
  Specialty icons / symbols (non square)
......................................*/
.icon-vhx.medium, .icon-vhx-alt.medium, .icon-vhx-dark.medium, .icon-vhx-gray.medium, .icon-vhx-inverse.medium, .icon-vhx-light.medium {
  width: 65px; }
.icon-vhx.large, .icon-vhx-alt.large, .icon-vhx-dark.large, .icon-vhx-gray.large, .icon-vhx-inverse.large, .icon-vhx-light.large {
  width: 70px; }
.icon-vhx.has-icon.tiny, .icon-vhx-alt.has-icon.tiny, .icon-vhx-dark.has-icon.tiny, .icon-vhx-gray.has-icon.tiny, .icon-vhx-inverse.has-icon.tiny, .icon-vhx-light.has-icon.tiny {
  background-size: 22.5px 9px;
  width: 22.5px;
  height: 9px;
  line-height: 9px; }
.icon-vhx.has-icon.small, .icon-vhx-alt.has-icon.small, .icon-vhx-dark.has-icon.small, .icon-vhx-gray.has-icon.small, .icon-vhx-inverse.has-icon.small, .icon-vhx-light.has-icon.small {
  background-size: 33.3px 15px;
  width: 33.3px;
  height: 15px;
  line-height: 15px; }
.icon-vhx.has-icon.smedium, .icon-vhx-alt.has-icon.smedium, .icon-vhx-dark.has-icon.smedium, .icon-vhx-gray.has-icon.smedium, .icon-vhx-inverse.has-icon.smedium, .icon-vhx-light.has-icon.smedium {
  background-size: 62px 25px;
  width: 62px;
  height: 25px;
  line-height: 25px; }
.icon-vhx.has-icon.medium, .icon-vhx-alt.has-icon.medium, .icon-vhx-dark.has-icon.medium, .icon-vhx-gray.has-icon.medium, .icon-vhx-inverse.has-icon.medium, .icon-vhx-light.has-icon.medium {
  background-size: 87.5px 35px;
  width: 87.5px;
  height: 35px;
  line-height: 35px; }
.icon-vhx.has-icon.large, .icon-vhx-alt.has-icon.large, .icon-vhx-dark.has-icon.large, .icon-vhx-gray.has-icon.large, .icon-vhx-inverse.has-icon.large, .icon-vhx-light.has-icon.large {
  background-size: 112.5px 45px;
  width: 112.5px;
  height: 45px;
  line-height: 45px; }
.icon-vhx.has-icon.xlarge, .icon-vhx-alt.has-icon.xlarge, .icon-vhx-dark.has-icon.xlarge, .icon-vhx-gray.has-icon.xlarge, .icon-vhx-inverse.has-icon.xlarge, .icon-vhx-light.has-icon.xlarge {
  background-size: 150px 60px;
  width: 150px;
  height: 60px;
  line-height: 60px; }

.fancy-play-icon {
  transition: all 0.2s ease-out;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  z-index: 2; }
  .fancy-play-icon:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    margin-top: -15px;
    margin-left: -14px;
    z-index: 4;
    top: 50%;
    left: 50%;
    background-size: 35px;
    background-position: 50%; }
  .fancy-play-icon:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.25); }
  .fancy-play-icon.small:after {
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px; }
  .fancy-play-icon.large:after {
    width: 95px;
    height: 95px;
    margin-top: -47.5px;
    margin-left: -47.5px; }
  .fancy-play-icon:hover, .fancy-play-icon.is-hover {
    background-color: rgba(0, 19, 44, 0.8); }
  .fancy-play-icon.alt-fancy-play-icon {
    background-color: transparent; }
    .fancy-play-icon.alt-fancy-play-icon:after {
      background-color: rgba(0, 0, 0, 0.5);
      border: none; }
    .fancy-play-icon.alt-fancy-play-icon:hover {
      background-color: rgba(0, 0, 0, 0.5); }
