@import "../config/include";

.user-avatar {

  @include user-avatar(60px, 5px);

  &.size-small {
    @include user-avatar(20px, 2px);
    .user-short-name { font-size: 14px; }
  }

  &.size-medium {
    @include user-avatar(34px, 2px);
    width: 34px;
    .user-short-name { font-size: 20px; }
  }

  &.size-nav {
    @include user-avatar(46px, 2px);
    .user-short-name { font-size: 28px; }
    &:hover { opacity: .9; }
  }

  &.blue { border-color: $avatar-blue !important; background: lighten($avatar-blue, 30) !important; .user-short-name { color: $avatar-blue !important; } }
  &.purple { border-color: $avatar-purple !important; background: lighten($avatar-purple, 30) !important; .user-short-name { color: $avatar-purple !important; } }
  &.pink { border-color: $avatar-pink !important; background: lighten($avatar-pink, 30) !important; .user-short-name { color: $avatar-pink !important; } }
  &.orange { border-color: $avatar-orange !important; background: lighten($avatar-orange, 30) !important; .user-short-name { color: $avatar-orange !important; } }
  &.green { border-color: $avatar-green !important; background: lighten($avatar-green, 30) !important; .user-short-name { color: $avatar-green !important; } }
  &.forest { border-color: $avatar-forest !important; background: lighten($avatar-forest, 30) !important; .user-short-name { color: $avatar-forest !important; } }
  &.light-blue { border-color: $avatar-light-blue !important; background: lighten($avatar-light-blue, 30) !important; .user-short-name { color: $avatar-light-blue !important; } }
  &.grey { border-color: $avatar-grey !important; background: lighten($avatar-grey, 30) !important; .user-short-name { color: $avatar-grey !important; } }
}