@import "../config/include";


.modal-container {
  position: fixed;
  left: -9999px;
  &.is-active,
  &.open {
    z-index: 2147483639;
    position: relative;
    left: 0;
    .modal {
      position: fixed;
      animation: modal-open 200ms ease forwards;
    }
    .modal-bg {
      animation: modal-bg-open 300ms ease forwards;
    }
  }
  .modal {
    animation: modal-close 200ms ease forwards;
    padding: 35px;
    width: 450px;
    background: #ffffff;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    border-radius: 0px;
    bottom: 50%;
    margin-left: -225px;
    position: absolute;

    &.iframe {
      width: auto;
    }

    &.large {
      width: 650px;
      margin-left: -325px;
    }

    &.small {
      width: 300px;
      margin-left: -150px;
    }

    &.small-screen {
      width: 90vw;
      margin-left: -45vw;
    }

    &.modal--has-actions {
      padding-bottom: 70px;
    }
    .modal--close {
      display: block;
      position: absolute;
      top: -25px;
      right: -25px;
      cursor: pointer;
      width: 16px;
    }
    .modal--header {
      border-bottom: 1px solid rgba(55, 86, 103, 0.2);
    }
    .modal--actions {
      background: #ffffff;
      border-top: 1px solid rgba(55, 86, 103, 0.2);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      .modal--btn-container {
        transition: all .2s ease;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        display: block;
        height: 70px;
        padding-top: 27px;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        text-transform: capitalize;
      }

      .modal--btn-container-padding {
        padding: 14px 27px;
      }
    }
  }
  .modal-bg {
    background-color: rgba(0, 20, 43, .55);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    animation: modal-bg-close 300ms ease forwards;
  }
}

@keyframes modal-open {
    0% {
      left: 50%;
      z-index: 10;
      transform: scale(.5);
      opacity: 0;
    }
    100% {
      left: 50%;
      z-index: 10;
      transform: scale(1);
      opacity: 1;
    }
}

@keyframes modal-close {
    0% {
      left: 50%;
      z-index: 10;
      transform: scale(1);
      opacity: 1;
    }
    99% {
      left: 50%;
      z-index: 10;
      transform: scale(.5);
      opacity: 0;
    }
    100% {
      left: -99999px;
      z-index: 10;
      transform: scale(.5);
      opacity: 0;
    }
}


@keyframes modal-bg-open {
    0% {
      z-index: 5;
      left: 0;
      opacity: 0;
    }
    100% {
      z-index: 5;
      left: 0;
      opacity: 1;
    }
}


@keyframes modal-bg-close {
    0% {
      z-index: 5;
      left: 0;
      opacity: 1;
    }
    99% {
      z-index: 5;
      left: 0;
      opacity: 0;
    }
    100% {
      z-index: -10;
      left: -99999px;
      opacity: 0;
    }
}
