@import "../config/include";

/*.....................................
  TYPOGRAPHY
......................................*/
body, ul, ol, dl, li, p, div, section, nav, table, h1, h2, h3, h4, h5, h6 {
  font-family: $font-helvetica;
  color: $gray-4;
  font-size: 14px;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
strong {
  font-weight: normal;
}

/* header sizes
......................................*/
.head {
  color: $gray-7;
  font-weight: 600;
  text-transform: uppercase;
  font-family: $font-brandon;
  strong {
    font-weight: 600;
  }
}

.head-1 {
  @extend .head;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 40px;
}

.head-2 {
  @extend .head;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 3px;
}

.head-3 {
  @extend .head;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 1px;
}

.head-4 {
  @extend .head;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
}

.head-5 {
  @extend .head;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
}


/* header navy
......................................*/
.head--navy {
  color: $gray-7;
}
a.head--navy {
  &:link,
  &:hover {
    color: $gray-7;
    text-decoration: none;
  }
  &:visited,
  &:active {
    color: $gray-5;
    text-decoration: none;
  }
}

/* header gray
......................................*/
.head--gray {
  color: $gray-4;
}
a.head--gray {
  &:link,
  &:hover {
    color: $gray-4;
    text-decoration: none;
  }
  &:visited,
  &:active {
    color: $gray-6;
    text-decoration: none;
  }
}

/* header teal
......................................*/
.head--teal {
  color: $teal-2;
}
a.head-teal {
  &:link,
  &:hover {
    color: $teal-2;
    text-decoration: none;
  }
  &:visited,
  &:active {
    color: $teal-3;
    text-decoration: none;
  }
}

/* header white
......................................*/
.head--white {
  color: $white;
}

a.head-white {
  &:link,
  &:hover {
    color: $white;
  }
  &:visited,
  &:active {
    color: $white-transparent;
  }
}

/* text gray
......................................*/
.text-gray {
  color: $gray-4;
  font-size: 14px;
  font-family: $font-helvetica;

  strong {
    font-weight: 600;
  }
  .link-ignore {
    &:link,
    &:visited {
      color: $gray-4;
      text-decoration: none;
    }
    &:hover,
    &:active {
      color: $gray-6;
      text-decoration: none;
    }
  }
}
.text-gray--strong {
  font-weight: 600;
}

/* text navy
......................................*/
.text-navy {
  color: $gray-6;
  font-size: 14px;
  font-family: $font-helvetica;
  font-weight: 600;
  strong {
    font-weight: 600;
  }
  .link-ignore {
    &:link,
    &:visited {
      color: $gray-6;
      text-decoration: none;
    }
    &:hover,
    &:active {
      color: $gray-4;
      text-decoration: none;
    }
  }
}
.text-navy--strong {
  font-weight: 600;
}

/* text white
......................................*/
.text-white {
  color: $white;
  font-size: 14px;
  font-family: $font-helvetica;

  strong {
    font-weight: 600;
  }
  .link-ignore {
    &:link,
    &:visited {
      color: $white;
      text-decoration: none;
    }
    &:hover,
    &:active {
      color: $white-transparent;
      text-decoration: none;
    }
  }
}
.text-white--strong {
  font-weight: 600;
}
.text-white--transparent {
  color: $white-transparent;
}

/* text teal
......................................*/
.text-teal {
  color: $teal-2;
  font-size: 14px;
  font-family: $font-helvetica;

  strong {
    font-weight: 600;
  }
}
.text-teal--strong {
  font-weight: 600;
}

/* sizes
......................................*/
.text--small {
  font-size: 12px;
}
.text--medium {
  font-size: 16px;
}
.text--large {
  font-size: 18px;
}

/* links
......................................*/
a {
  font-size: 14px;
  font-family: $font-helvetica;
  transition: color 200ms ease;

  &:link,
  &:visited {
    color: $teal-2;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $teal-3;
    text-decoration: none;
  }
}