@import "../config/include";

/*.....................................
  Admin Modals
......................................*/
.reveal-modal {
  .padding-left-large-medium-up {
    @media #{$medium-up} {
      padding-left: 25px;
    }
  }

  .overflow-hidden {
    overflow: hidden;
  }

  &[data-tour-modal] {
    width: rem-calc(350) !important;
  }
  padding: rem-calc(35 35 65 35);
  z-index: 2147483642;
  position: fixed;
  border: none !important; //override foundation
  .bar {
    background: #fff;
    border-bottom: 1px solid $gray-2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .media {
      min-height: rem-cacl(36);
    }
  }
  .content {
    padding-top: rem-calc(65);
  }
  .actions {
    background: #fff;
    border-top: 1px solid rgba(55, 86, 103, 0.2);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .media {
      height: rem-calc(40);
    }
  }
}

.reveal-modal-bg {
   z-index: 2147483638;
   opacity: 0 !important;
   display: block !important;
   transition: opacity 400ms ease;
   &.open {
    opacity: 1 !important;
   }
   &.is-hidden {
    display: none !important;
   }
}

.reveal-modal {
  .close-tour-modal {
    position: absolute;
    top: rem-calc(15);
    right: rem-calc(15);

    .icon-remove-gray {
      display: block;
    }
  }
  .icon-remove-gray {
    display: none;
  }
  .icon-remove-white {
    display: block;
  }

  @media only screen and (max-width: 40em) {
    top: 0;
    left: 0;
    position: fixed;
    border: 10px solid rgba(0, 20, 41, 0.9);
    .close-x,
    .close-reveal-modal {
      right: rem-calc(10);
      top: rem-calc(10);
      .icon-remove-gray {
        display: block;
      }
      .icon-remove-white {
        display: none;
      }
    }
  }
}

.no-buttons {
  padding: rem-calc(35 35 35 35);
}

.reveal-modal {
  &.animate-pre-open {
    opacity: 0 !important;
    display: block !important;
    visibility: visible !important;
    transform: scale(.7);
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &.animate-pre-close,
  &.animate-open {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    transform: scale(1);
  }
  &.animate-close {
    opacity: 0 !important;
    display: block !important;
    visibility: visible !important;
    transform: scale(.7);
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}
