/*.....................................
  Foundation List Extensions
......................................*/

ul, ol {
/* no numbers
  ..................................*/
  &.no-numbers {
    list-style: none;
  }
  &.list-inside {
    list-style-position: inside;
  }

  /* table striped
  ..................................*/
  &.striped {
    li {
      border: none;
    }
    li:nth-child(odd) {
      background: $gray-2;
    }
  }
}
