/* imports
...................................*/
@import "../config/variables";

/* .....................................
  Colors - Grays
..................................... */
.white {
	background-color: $white;
}
.white-transparent {
  background-color: $white-transparent;
}
.black {
  background-color: $black;
}
.black-transparent {
  background-color: $black-transparent;
}
.gray-1 {
  background-color: $gray-1;
}
.gray-2 {
  background-color: $gray-2;
}
.gray-3 {
  background-color: $gray-3;
}
.gray-4 {
  background-color: $gray-4;
}
.gray-5 {
  background-color: $gray-5;
}
.gray-6 {
  background-color: $gray-6;
}
.gray-7 {
  background-color: $gray-7;
}
.gray-8 {
  background-color: $gray-8;
}

/* .....................................
  Colors - Teals
..................................... */
.teal-1 {
  background-color: $teal-1;
}
.teal-2 {
  background-color: $teal-2;
}
.teal-3 {
  background-color: $teal-3;
}

/* .....................................
  Colors - Red
..................................... */
.red {
  background-color: $red;
}

/* .....................................
  Colors - Navy
..................................... */
.navy {
  background-color: $navy;
}
.navy-transparent {
  background-color: $navy-transparent;
}

/* .....................................
  Colors - Brand Palette
..................................... */
.vhx-orange {
  background-color: $vhx-orange;
}
.vhx-debian {
  background-color: $vhx-debian;
}
.vhx-purple {
  background-color: $vhx-purple;
}
.vhx-currant {
  background-color: $vhx-currant;
}
.vhx-blue {
  background-color: $vhx-blue;
}
.vhx-teal {
  background-color: $vhx-teal;
}
.vhx-green {
  background-color: $vhx-green;
}
.vhx-yellow {
  background-color: $vhx-yellow;
}

/* .....................................
  Colors - External Brands
..................................... */
.facebook-blue {
  background-color: $facebook-blue;
}
.twitter-blue {
  background-color: $twitter-blue;
}
.tumblr-blue {
  background-color: $tumblr-blue;
}
.paypal-blue {
  background-color: $paypal-blue;
}
.roku-purple {
  background-color: $roku-purple;
}
