/* .....................................
  Fonts
..................................... */
/* .....................................
  Sets
..................................... */
/* .....................................
  Media Query Ranges
..................................... */
/* .....................................
  Colors - Grays
..................................... */
/* .....................................
  Colors - Teals
..................................... */
/* .....................................
  Colors - Red
..................................... */
/* .....................................
  Colors - Navy
..................................... */
/* .....................................
  Colors - Brand Palette
..................................... */
.tag-list li:before, .tag-list li:after {
  content: " ";
  display: table; }

.tag-list li:after {
  clear: both; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* .....................................
  Mixins for CSS3 Properties
..................................... */
/* helper function for margin and padding
......................................*/
/*
  collection of prefixed flexbox properties
  until we're using Compass 1.0+
  ..........................................*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*.....................................
  Tags
......................................*/
.tag {
  display: inline-block;
  color: #D7DDE1;
  background-color: #F0F2F4;
  padding: 0 10px;
  font-size: 14px;
  line-height: 21px;
  border-radius: 3px; }
  .tag:link, .tag:visited {
    color: #D7DDE1; }
  .tag:hover, .tag:active {
    color: #375667;
    background-color: #AFBCC3; }
  .tag.is-selected {
    background-color: #22B9B0;
    color: #ffffff; }
  .tag.tag-removable-small {
    padding-left: 10px;
    padding-right: 30px;
    background-size: 15px;
    background-position: right 10px center; }

.tag-list {
  list-style: none;
  text-indent: 0;
  margin-left: 0;
  font-size: 14px; }
  .tag-list li {
    margin: 5 0px; }
    .tag-list li span {
      float: right; }
