@import "../../vhx-style-core/config/mixins";

@mixin avatar-defaults($diameter) {
  width: $diameter;
  height: $diameter;
  .avatar-img {
    line-height: $diameter;
  }
}
$avatar-colors-name: "blue", "purple", "pink", "orange", "green", "forest", "light-blue", "gray", "teal";
$avatar-colors-hex: $vhx-blue, $vhx-purple, lighten($red, 50%), $vhx-orange, lighten($vhx-green, 50%), $vhx-green, lighten($navy, 50%), $gray-8, $teal-2;
