@import "../config/include";

/*.....................................
  LOADERS
......................................*/

/* Colors
......................................*/
.loader-slate {
  @include loader("7a878e");
}
.loader-white {
  @include loader("ffffff");
}
.loader-teal {
  @include loader("22b9b0");
}

/* Cover
......................................*/
.loader--cover {
  position: relative;

  &.loader-slate {
    @include loader_cover("7a878e");
  }
  &.loader-white {
    @include loader_cover("ffffff");
  }
  &.loader-teal {
    @include loader_cover("22b9b0");
  }
  &:after {
    content: initial !important;
  }
  &.is-processing,
  &.is-loading {
    &:after {
      content: ' ' !important;
    }
    background-image: none;
    color: transparent;
  }
  &.is-processing *,
  &.is-loading * {
    background-image: none !important;
    color: transparent !important;
  }
}
