/* imports
...................................*/
@import "../config/include";

/*.....................................
  TOOLTIPS
......................................*/

.tooltip {
  padding: 15px;
  display: none;
  position: relative;
  opacity: 0;
  border-radius: 5px;
  border: 1px solid $navy;
  background: $navy;

  &.is-active {
    opacity: 1;
  }

  &:after, &:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 10px;
  }
  &:before {
    border-color: rgba(255, 255, 255, 0);
    border-width: 11px;
  }
  &.tooltip--fixed {
    opacity: 1;
    display: block;
    position: relative;
    border: none;
    left: auto;
    top: auto;
    max-width: 100%;

    &.is-active {
      display: block;
    }
  }

  /* arrows
  ......................................*/

  // bottom centered
  &.arrow--bottom-center {
    &:after, &:before {
      top: 100%;
      left: 50%;
    }
  }

  &.arrow--bottom-left {
    &:after, &:before {
      top: 100%;
      left: 10%;
    }
  }

  &.arrow--bottom-right {
    &:after, &:before {
      top: 100%;
      right: 10%;
    }
  }

  &.arrow--bottom-right,
  &.arrow--bottom-left,
  &.arrow--bottom-center {
    &:after {
      border-top-color: $navy;
      margin-left: -10px;
    }
    &:before {
      border-top-color: $navy;
      margin-left: -11px;
    }
  }

  // left centered
  &.arrow--left-center {
    &:after, &:before {
      right: 100%;
      top: 50%;
    }
  }

  // left top
  &.arrow--left-top {
    &:after, &:before {
      right: 100%;
      top: 10%;
    }
  }

  // left bottom
  &.arrow--left-bottom {
    &:after, &:before {
      right: 100%;
      bottom: 10%;
    }
  }
  // left centered
  &.arrow--left-center,
  &.arrow--left-top,
  &.arrow--left-bottom {
    &:after {
      border-right-color: $navy;
      margin-top: -10px;
    }
    &:before {
      border-right-color: $navy;
      margin-top: -11px;
    }
  }

  // right centered
  &.arrow--right-center {
    &:after, &:before {
      left: 100%;
      top: 50%;
    }
  }

  // right top
  &.arrow--right-top {
    &:after, &:before {
      left: 100%;
      top: 10%;
    }
  }

  // right bottom
  &.arrow--right-bottom {
    &:after, &:before {
      left: 100%;
      bottom: 10%;
    }
  }

  &.arrow--right-bottom,
  &.arrow--right-top,
  &.arrow--right-center {
    &:after {
      border-left-color: $navy;
      margin-top: -10px;
    }
    &:before {
      border-left-color: $navy;
      margin-top: -11px;
    }
  }


  // top centered
  &.arrow--top-center {
    &:after, &:before {
      bottom: 100%;
      left: 50%;
    }
  }

  // top left
  &.arrow--top-left {
    &:after, &:before {
      bottom: 100%;
      left: 10%;
    }
  }

  // top right
  &.arrow--top-right {
    &:after, &:before {
      bottom: 100%;
      right: 10%;
    }
  }

  &.arrow--top-right,
  &.arrow--top-left,
  &.arrow--top-center {
    &:after {
      border-bottom-color: $navy;
      margin-left: -10px;
    }
    &:before {
      border-bottom-color: $navy;
      margin-left: -11px;
    }
  }
}

/* tooltip sizes
......................................*/
.tooltip {
 &.tooltip--xlarge {
    max-width: 500px;
  }
  &.tooltip--large {
    max-width: 400px;
  }
  &.tooltip--medium {
    max-width: 300px;
  }
  &.tooltip--small {
    max-width: 200px;
  }
  &.tooltip--fill {
    width: 100%;
  }
}
