@import "../config/include";

.badge {
  // base styles
  display: block;
  width: 31px;
  height: 31px;
  line-height: 31px;
  font-size: 12px;
  text-align: center;
  color: $teal-2;
  background-color: $gray-6;
  border-radius: 50%;
  transition: background 200ms ease, border-color 200ms ease;

  // colors
  &.badge-white {
    background: #ffffff;
    color: $teal-2;
  }
  &.badge-teal {
    background: $teal-2;
    color: #fff;
  }

  // additions
  &.border {
    border: 1px solid $teal-2;
  }

  // sizes
  &.small,
  &.badge-small {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  &.smedium,
  &.badge-smedium {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
  }
  &.medium,
  &.badge-medium {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
  }
  &.large,
  &.badge-large {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
  }
  &.has-icon {
    display: table;
    vertical-align: middle;
    text-align: center;
    padding-left: 0;
  }

  // badge links
  &:link,
  &:visited {
    i {
      opacity: 1;
    }
  }
  &:hover,
  &:active {
    i {
      opacity: .5;
    }
  }
  i {
    display: table-cell;
    text-align: center;
    background-size: 15px 15px;

    &.small {
      width: 30px;
      height: 30px;
      background-size: 15px 15px;
    }
    &.medium {
      width: 50px;
      height: 50px;
      background-size: 25px 25px;
    }
    &.large {
      width: 60px;
      height: 60px;
      background-size: 45px 45px;
    }
  }
}
a.badge {
  &:link,
  &:visited {
    i {
      opacity: 1;
    }
  }
  &:hover,
  &:active {
    border-color: $teal-3;
    background-color: $gray-6;
  }
}

// text color changes based on button class
.btn-teal {
  .badge {
    &.badge-white {
      color: $teal-2;
    }
  }
}

// icon sizes
$icon-tiny: 9px;
$icon-small: 15px;
$icon-default: 23px;
$icon-smedium: 31px;
$icon-medium: 35px;
$icon-large: 45px;
$icon-xlarge: 60px;
$icon-line: 18px;

@mixin triangle($dimension, $icon-size) {
  width: #{$dimension}px;
  height: #{$dimension}px;
  z-index: 20;
  .contain {
    transform: rotate(45deg);
    width: #{$dimension}px;
    height: #{$dimension*1.41421356237}px;
    transform-origin: 0 #{$dimension*1.41421356237}px;

    .icon {
      transform: rotate(-90deg);
      position: absolute;
      top: 50%;
      margin-top: -#{$icon-size/2};
      left: #{$dimension/2 - $icon-size/1.5};
      margin-left: -#{$icon-size/2};
    }
  }
}

.badge-triangle {
  overflow: hidden;
  position: relative;

  .contain {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  // positioning
  &.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &.top-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &.top-right {
    position: absolute;
    top: 0;
    right: 0;
  }

  // sizing
  &.small {
    @include triangle(80, $icon-default);
  }
  &.medium {
    @include triangle(100, $icon-medium);
  }
  &.large {
    @include triangle(150, $icon-large);
  }
}