@import "../config/include";

/*.....................................
  Stand-alone icons using <i>
......................................*/
.icon {
  display: inline-block;
  background-position: 50% 50%;
  background-size: contain;
  width: $icon-small;
  height: $icon-small;
  text-indent: -9999px;

  &.icon--xxsmall {
    width: $icon-xxsmall;
    height: $icon-xxsmall;
  }
  &.icon--xsmall {
    width: $icon-xsmall;
    height: $icon-xsmall;
  }
  &.icon--small {
    width: $icon-small;
    height: $icon-small;
  }
  &.icon--medium {
    width: $icon-medium;
    height: $icon-medium;
  }
  &.icon--large {
    width: $icon-large;
    height: $icon-large;
  }
  &.icon--xlarge {
    width: $icon-xlarge;
    height: $icon-xlarge;
  }
  &.icon--xxlarge {
    width: $icon-xxlarge;
    height: $icon-xxlarge;
  }
}

/* sizes
......................................*/
.icon--left {
  padding-left: 30px;
}
.icon--right {
  padding-right: 30px;
}

.icon--xxsmall {
  background-size: $icon-xxsmall $icon-xxsmall;
  &.text-1 {
    line-height: 24px;
  }
  &.text-2 {
    line-height: 22px;
  }
  &.text-3 {
    line-height: 18px;
  }
  &.head-1 {
    line-height: 40px;
  }
  &.head-2 {
    line-height: 30px;
  }
  &.head-3 {
    line-height: 22px;
  }
  &.head-4 {
    line-height: 16px;
  }
  &.icon--left {
    padding-left: 15px;
  }
  &.icon--right {
    padding-right: 15px;
  }
}
.icon--xsmall {
  background-size: $icon-xsmall $icon-xsmall;
  &.text-1 {
    line-height: 24px;
  }
  &.text-2 {
    line-height: 22px;
  }
  &.text-3 {
    line-height: 18px;
  }
  &.head-1 {
    line-height: 40px;
  }
  &.head-2 {
    line-height: 30px;
  }
  &.head-3 {
    line-height: 22px;
  }
  &.head-4 {
    line-height: 16px;
  }
  &.icon--left {
    padding-left: 25px;
  }
  &.icon--right {
    padding-right: 25px;
  }
}
.icon--small {
  background-size: $icon-small $icon-small;
  line-height: $icon-small !important;
  &.text-1 {
    line-height: 24px !important;
  }
  &.head-1 {
    line-height: 40px !important;
  }
  &.head-2 {
    line-height: 30px !important;
  }
  &.icon--left {
    padding-left: 30px;
  }
  &.icon--right {
    padding-right: 30px;
  }
}
.icon--medium {
  background-size: $icon-medium $icon-medium;
  line-height: $icon-medium !important;
  &.head-1 {
    line-height: 40px !important;
  }
  &.icon--left {
    padding-left: 40px;
  }
  &.icon--right {
    padding-right: 40px;
  }
}
.icon--large {
  background-size: $icon-large $icon-large;
  line-height: $icon-large !important;
  &.icon--left {
    padding-left: 45px;
  }
  &.icon--right {
    padding-right: 45px;
  }
}
.icon--xlarge {
  background-size: $icon-xlarge $icon-xlarge;
  line-height: $icon-xlarge !important;
  &.icon--left {
    padding-left: 54px;
  }
  &.icon--right {
    padding-right: 54px;
  }
}

.icon--xxsmall,
.icon--xsmall,
.icon--small,
.icon--medium,
.icon--large,
.icon--xlarge {
  &.icon--left {
    background-position: 0 center;
  }
  &.icon--right {
    display: inline-block;
    background-position: 100% center;
  }
}

/*.....................................
  Icon Circle
......................................*/
.icon-circle {
  border-radius: 50%;
  border: 1px solid $gray-3;
  background-color: $white;
  box-sizing: content-box;
  display: inline-block;
  background-position: 50% 50% !important;

  &.icon--xxsmall {
    padding: 3px;
    background-size: $icon-xxsmall $icon-xxsmall;
    width: $icon-xxsmall;
    height: $icon-xxsmall;
  }
  &.icon--xsmall {
    padding: 5px;
    background-size: $icon-xsmall $icon-xsmall;
    width: $icon-xsmall;
    height: $icon-xsmall;
  }
  &.icon--small {
    padding: 10px;
    background-size: $icon-small $icon-small;
    width: $icon-small;
    height: $icon-small;
  }
  &.icon--medium {
    padding: 15px;
    background-size: $icon-medium $icon-medium;
    width: $icon-medium;
    height: $icon-medium;
  }
  &.icon--large {
    padding: 20px;
    background-size: $icon-large $icon-large;
    width: $icon-large;
    height: $icon-large;
  }
  &.icon--xlarge {
    padding: 25px;
    background-size: $icon-xlarge $icon-xlarge;
    width: $icon-xlarge;
    height: $icon-xlarge;
  }
  &.icon--xxlarge {
    padding: 35px;
    background-size: $icon-xxlarge $icon-xxlarge;
    width: $icon-xxlarge;
    height: $icon-xxlarge;
  }
}
