@import "../config/include";

/*.....................................
  Stand-alone icons using <i>
......................................*/
.icon {
  display: inline-block;
  background-position: 50% 50%;
  background-size: contain;
  width: $icon-small;
  height: $icon-small;
  text-indent: -9999px;

  &.icon--tiny {
    width: $icon-tiny;
    height: $icon-tiny;
  }
  &.icon--small {
    width: $icon-small;
    height: $icon-small;
  }
  &.icon--medium {
    width: $icon-medium;
    height: $icon-medium;
  }
  &.icon--large {
    width: $icon-large;
    height: $icon-large;
  }
  &.icon--xlarge {
    width: $icon-xlarge;
    height: $icon-xlarge;
  }
  &.icon--xxlarge {
    width: $icon-xxlarge;
    height: $icon-xxlarge;
  }
}

/*.....................................
  Icons with text
......................................*/
.text-1 {
  &.icon--tiny {

  }
  &.icon--small {

  }
  &.icon--medium {

  }
  &.icon--large {

  }
  &.icon--xlarge {

  }
  &.icon--xxlarge {

  }
}

.text-2 {}
.text-3 {}

.head-1 {}
.head-2 {}
.head-3 {}
.head-4 {}
.head-5 {}

