@import "../config/include";

/*.....................................
  Symbols
......................................*/
.icon-vhx,
.icon-vhx-teal,
.icon-vhx-dark,
.icon-vhx-gray,
.icon-vhx-navy,
.icon-vhx-white,
.icon-vhx-light {
  display: inline-block;
  color: transparent;
  text-indent: -9999px;
}
