@import "../config/include";

/*.....................................
  BLOCK BUTTONS
......................................*/

/* button block base
......................................*/
.btn-block {
  transition: all .2s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  display: block;
  height: 70px;
  padding-top: 27px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: $gray-5;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-brandon;

  &.btn--border {
    border-left: 1px solid $gray-3;
    border-right: 1px solid $gray-3;
    & + .btn-block {
      border-left: 1px solid transparent;
    }
  }

  &.is-active,
  &:hover,
  &.is-hover {
    cursor: pointer;
    box-shadow: inset 0px -4px 0px $gray-5;
  }
  span {
    &:first-child {
      margin-top: -7px;
    }
    display: block;
  }
}

/* button block teal
......................................*/
.btn-block-teal {
  @extend .btn-block;
  @include button-block-colors(
    $gray-5,  // text color
    $gray-7,  // text color hover
    $teal-2 // bottom border-color
  )
}

/* button block gray
......................................*/
.btn-block-gray {
  @extend .btn-block;
  @include button-block-colors(
    $gray-5, // text color
    $gray-6, // text color hover
    $gray-5  // bottom border-color
  );
}

/* button block navy
......................................*/
.btn-block-navy {
  @extend .btn-block;
  @include button-block-colors(
    $gray-6, // text color
    $gray-6, // text color hover
    $gray-6  // bottom border-color
  );
}

