<template name="menu">
  <nav>
    <h2 class="head tertiary">Styleguide</h2>
    <ul>
      <li><a href="{{pathFor 'style_markup'}}">HTML Conventions</a></li>
      <li><a href="{{pathFor 'style_css'}}">CSS Conventions</a></li>
      <li><a href="{{pathFor 'style_elements'}}">Style Elements</a></li>
      <li><a href="{{pathFor 'style_utilties'}}">Style Utilities</a></li>
      <li><a href="{{pathFor 'style_reading'}}">Reading</a></li>
    </ul>

    <h2 class="head tertiary">Javascript</h2>
    <ul>
      <li><a href="{{pathFor 'js_conventions'}}">JS Conventions</a></li>
      <li><a href="{{pathFor 'js_components'}}">Components</a></li>
      <li><a href="{{pathFor 'js_unit_testing'}}">Unit Testing</a></li>
      <li><a href="{{pathFor 'js_buy'}}">Buy Page</a></li>
      <li><a href="{{pathFor 'js_reading'}}">Reading</a></li>
    </ul>
  </nav>
</template>