@import "../config/include";

.loader-default {
  width: 30px;
  height: 30px;
  left: 50%;
  top: 15%;
  display: inline-block;
  margin: 0;
  border: 5px solid $ac-pri-mid;
  border-radius: 50%;
  opacity: .8;
  border-right-color: transparent;
  @include animation(spin 1.2s infinite linear);
}