@import "../config/include";

.loader-slate {
  @include loader("7a878e");
}

.loader-teal {
  @include loader("22b9b0");
}

.loader-white {
  @include loader("ffffff");
}

.loader--small {
  width: 15px;
  height: 15px;
}
.loader--medium {
  width: 30px;
  height: 30px;
}
.loader--large {
  width: 45px;
  height: 45px;
}
.loader--xlarge {
  width: 60px;
  height: 60px;
}

.loader-default {
  width: 30px;
  height: 30px;
  left: 50%;
  top: 15%;
  display: inline-block;
  margin: 0;
  border: 5px solid $teal-2;
  border-radius: 50%;
  opacity: .8;
  border-right-color: transparent;
  @include animation(spin 1.2s infinite linear);
}

.loader-gray {
  &.loader--cover {
    position: relative;
    &:after {
      content: ' ';
      position: absolute;
      top: 50px;
      left: 50%;
      margin-left: -25px;
      background-position: center center !important;
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%20%20viewBox%3D%220%200%2040%2040%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20opacity%3D%220.2%22%20fill%3D%22%235e7887%22%20d%3D%22M20.201%2C5.169c-8.254%2C0-14.946%2C6.692-14.946%2C14.946c0%2C8.255%2C6.692%2C14.946%2C14.946%2C14.946%0D%0A%20%20s14.946-6.691%2C14.946-14.946C35.146%2C11.861%2C28.455%2C5.169%2C20.201%2C5.169z%20M20.201%2C31.749c-6.425%2C0-11.634-5.208-11.634-11.634%0D%0A%20%20c0-6.425%2C5.209-11.634%2C11.634-11.634c6.425%2C0%2C11.633%2C5.209%2C11.633%2C11.634C31.834%2C26.541%2C26.626%2C31.749%2C20.201%2C31.749z%22%2F%3E%0D%0A%3Cpath%20fill%3D%22%235e7887%22%20d%3D%22M26.013%2C10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0%0D%0A%20%20C22.32%2C8.481%2C24.301%2C9.057%2C26.013%2C10.047z%22%3E%0D%0A%20%20%3CanimateTransform%20attributeType%3D%22xml%22%0D%0A%20%20%20%20attributeName%3D%22transform%22%0D%0A%20%20%20%20type%3D%22rotate%22%0D%0A%20%20%20%20from%3D%220%2020%2020%22%0D%0A%20%20%20%20to%3D%22360%2020%2020%22%0D%0A%20%20%20%20dur%3D%220.5s%22%0D%0A%20%20%20%20repeatCount%3D%22indefinite%22%2F%3E%0D%0A%20%20%3C%2Fpath%3E%0D%0A%3C%2Fsvg%3E');
      background-repeat: no-repeat;
      height: 50px;
      width: 50px;
      background-size: 100%;
    }
  }
}