@import "../config/include";

/*.....................................
  BORDERS
......................................*/

/* positions
...................................*/
.border {
  border: 1px solid $gray-4 !important;
}
@each $position in $positions {
  .border-#{$position} {
    border-#{$position}: 1px solid $gray-4;
  }
}
.border-vert {
  border-top: 1px solid $gray-4;
  border-bottom: 1px solid $gray-4;
}

.border-horz {
  border-left: 1px solid $gray-4;
  border-right: 1px solid $gray-4;
}

/* colors
...................................*/
.border--white {
  border-color: $white !important;
}
.border--white-transparent {
  border-color: $white-transparent !important;
}
.border--gray {
  border-color: $gray-4 !important;
}
.border--gray-light {
  border-color: $gray-3 !important;
}

/* modifiers
...................................*/
.border--reset {
  border: none !important;
  border-radius: 0px;
}
.border--thick {
  border-width: 5px !important;
}
.border--radius {
  border-radius: 3px;
}

/* border center
...................................*/
.border-center {
  z-index: 1;
  position: relative;

  &:before {
    content: " ";
    display: block;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: $gray-2;
    margin-top: -2px;
    z-index: -1;
    position: absolute;
    width: 100%;
  }

  &.border--gray-1:before {
    background-color: $gray-1;
  }
  &.border--gray-2:before {
    background-color: $gray-2;
  }
  &.border--white-transparent:before {
    background-color: $white-transparent;
  }
  &.border--white:before {
    background-color: $white;
  }
}

.box-shadow {
  box-shadow: 0 0 5px 0 $gray-2;
}
.box-radius {
  border-radius: 5px;
}