@import "../../../../quartz-css/core/config/mixins";

/*.....................................
  Admin Radio
......................................*/
.form .radio-gray,
.form .radio-vimeo-blue {
  position: relative;
  display: inline-block;
  width: 100%;
  list-style: none;
  margin-left: 0;

  color: $gray-6;
  font-size: 14px;
  background: transparent;

  user-select: none;

  /* radio
  ...................................*/
  input[type="radio"] {
    display: none;
  }

  li {
    @include cf();
    display: inline-block;
    margin-right: 10px;
  }

    /* label unchecked
  ...................................*/
  label {
    display: block;
    height: 20px;
    line-height: 20px;
    margin: 0px;
    box-sizing: border-box;

    .radio--icon {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      margin-left: 5px;
      float: left;

      border: 1px solid $gray-6;

      box-shadow: none;
      box-sizing: border-box;
      border-radius: 20px;
      transition: box-shadow .2s ease, color .2s ease;

      .circle-top {
        opacity: 0;
        transition: opacity .2s ease;
        display: block;
        height: 5px;
        overflow: hidden;
        position: absolute;
        top: 4px;
        left: 4px;
        span {
          display: block;
          width: 10px;
          height: 10px;
          background: $gray-5;
          border-radius: 10px;
        }
      }
      .circle-bottom {
        opacity: 0;
        transition: opacity .2s ease;
        display: block;
        height: 5px;
        overflow: hidden;
        position: absolute;
        bottom: 4px;
        left: 4px;
        span {
          position: relative;
          top: -5px;
          display: block;
          width: 10px;
          height: 10px;
          background: $gray-6;
          border-radius: 10px;
        }
      }
    }
    .radio--label {
      float: left;
      height: 20px;
    }
  }

  /* label checked
  ...................................*/
  input[type="radio"]:checked + label {
    .radio--icon {
      .circle-top, .circle-bottom {
        opacity: 1;
        transition: opacity .2s ease;
      }
    }
  }

  /* stacked radio
  ...................................*/
  &.radio--stacked,
  &.radio--buttons {
    display: block;
    height: auto;
    li {
      display: block;
      margin-right: 0px;
      margin-bottom: 10px;
    }
  }
  &.radio--buttons li {
    height: auto !important;
    label {
      padding: 10px;
      min-height: 58px;
    }
    .radio--label,
    label {
      height: auto !important;
    }
    .radio--icon {
      margin-top: 8px;
      background: white;
    }
  }

  /* color styles
  ...................................*/
  &.radio-vimeo-blue {
    .circle-top span { background: $vimeo-blue !important; }
    .circle-bottom span { background: $vimeo-blue-darkened !important; }
  }
}
