.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2d2d2d;
  color: #fff;
  font-size: 12px !important;
  overflow-wrap: break-word !important;
  font-family: Menlo, Monaco, 'Andale Mono', 'Lucida Console', 'Courier New', monospace;
  -webkit-text-size-adjust: none;
  font-weight: bold;
}

.hljs-comment,
.hljs-title {
  color: #777;
}

.code-bar {
  .hljs-variable,
  .hljs-attribute,
  .hljs-tag,
  .hljs-regexp,
  .hljs-name,
  .ruby .constant,
  .xml .tag .title,
  .xml .pi,
  .xml .doctype,
  .html .doctype {
    color: #ab875d;
  }

  .css .value {
    color: #cd6a51;
  }

  .css .value .function,
  .css .value .string {
    color: #a67f59;
  }

  .css .value .number {
    color: #9b869c;
  }

  .css .id,
  .css .class,
  .css-pseudo,
  .css .selector,
  .css .tag {
    color: #dfc48c;
  }

  .hljs-number,
  .hljs-preprocessor,
  .hljs-built_in,
  .hljs-literal,
  .hljs-params,
  .hljs-constant {
    color: #ab875d;
  }

  .ruby .class .title,
  .css .rules .attribute {
    color: #9b869b;
  }

  .hljs-string,
  .hljs-value,
  .hljs-inheritance,
  .hljs-header,
  .ruby .symbol,
  .xml .cdata {
    //color: #8f9c6c;
    color: #edb46b;
  }

  .css .hexcolor {
    color: #cd6a51;
  }

  .function,
  .python .decorator,
  .python .title,
  .ruby .function .title,
  .ruby .title .keyword,
  .perl .sub,
  .javascript .title,
  .coffeescript .title {
    color: #fff;
  }

  .hljs-keyword,
  .javascript .function {
    color: #8f9c6c;
  }
  .hljs-tag {
    color: #d3d0c8;
    font-weight: bold;
  }
  .hljs-title,
  .hljs-name {
    color: #f2777a;
    font-weight: bold;
  }
  .hljs-attribute,
  .hljs-attr {
    color: #ed9157;
    font-weight: bold;
  }
  .hljs-value,
  .hljs-string {
    color: #99cc99;
    font-weight: bold;
  }
}