.bg-grid-light {
  background-image: url('bg.grid-light.png');
  background-repeat: repeat;
}
.bg-grid-dark {
  background-image: url('bg.grid-dark.png');
  background-repeat: repeat;
}
.square {
  text-align: center;

  .square-tag {
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
    background-color: #ffffff !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  display: inline-block;

  &.square--medium {
    width: 100px;
    height: 100px;
  }
  // currently --large exists just for colors
  // but, it's free to be changed down the road
  &.square--large {
    width: 120px;
    height: 120px;
  }
}

.logo-mithril {
  font-size: 175px;
  float: left;
  line-height: 1.3em;
  padding: 0;
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
  position: absolute;
  left: 50%;
  top: 15%;
  margin-left: -50px;
  &:before {
    content: "\25CB";
    position: absolute;
    margin: -0.17em 0 0 -0.10em;
  }
  &:after {
    content: "\25CB";
    position: absolute;
    margin: -0.17em 0 0 -0.5em;
  }
}
.box-shadow {
  box-shadow: 0 0 5px 0 #f0f0f0;
}
section[id^="guide--component"] {
  &:after {
    content: ' ';
    height: 1px;
    width: 100%;
    background: #F0F2F4;
    position: absolute;
    bottom: 20px;
    left: 0;
  }
}

#guide--style-buttons {
  button {
    margin-bottom: 10px;
    &.btn-transparent {
      margin-bottom: 0px;
    }
  }
}
