@import "../../packages/vhx-style-core/config/mixins";

.nav-primary {
  background: $gray-1;
  border-right: 1px solid $gray-2;
  top: 0;
  left: 0;
  position: fixed;
  overflow-y: auto;
  width: 225px;
  height: 100%;
  z-index: 1;

  .head--teal {
    text-indent: 30px;
    vertical-align: bottom;
    a {
      vertical-align: bottom;
    }
  }

  .head-5,
  .no-bullet a {
    text-indent: 30px;
  }
  .no-bullet a {
    display: block;
    line-height: 40px;

    &:link,
    &:visited {
      color: $gray-5;
    }

    &:hover {
      background: $gray-3;
    }
    &.is-active {
      background: $teal-2;
      color: #fff;
    }
  }
}
