@import "../config/include";

/*.....................................
  TEXT
......................................*/

/* reset
......................................*/
body {
  color: $gray-6;
}
body, ul, ol, dl, li, p, div, section, nav, table, h1, h2, h3, h4, h5, h6 {
  font-family: $font-helvetica;
  font-size: 14px;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* links
......................................*/
a {
  transition: color 200ms ease;

  &:link,
  &:visited {
    color: $regent-gray;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $vimeo-blue;
    text-decoration: none;
  }
  &.is-disabled {
    &:link, &:visited,
    &:hover, &:active {
      cursor: default;
      opacity: .5;
      color: $regent-gray;
    }
  }
}

/* sizes
......................................*/
.text-1 {
  font-size: 16px;
  line-height: 24px;
  color: $gray-6;
}
.text-2 {
  font-size: 14px;
  line-height: 22px;
  color: $gray-6;
}
.text-3 {
  font-size: 13px;
  line-height: 18px;
  color: $gray-6;
}
.text-4 {
  font-size: 12px;
  line-height: 16px;
  color: $gray-6;
}

/* colors
......................................*/
.text--navy {
  color: $gray-7;
  &.text--transparent {
    color: transparentize($gray-7, .5);
  }
}
a.text--navy {
  &:link,
  &:visited {
    color: $gray-7;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $gray-5;
    text-decoration: none;
    &.is-hover-text--navy {
      color: $gray-7;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $gray-7;
    }
  }
}

.text--gray {
  color: $gray-5;
  &.text--transparent {
    color: transparentize($gray-5, .5);
  }
}
a.text--gray {
  &:link,
  &:visited {
    color: $gray-5;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $gray-7;
    text-decoration: none;
    &.is-hover-text--gray {
      color: $gray-5;
    }
  }
  &.is-disabled {
    &:link, &:visited,
    &:hover, &:active {
      color: $gray-5;
    }
  }
}

.text--gray-light {
  color: $gray-2;
  &.text--transparent {
    color: transparentize($gray-2, .5);
  }
}
a.text--gray-light {
  &:link,
  &:visited {
    color: $gray-2;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $gray-4;
    text-decoration: none;
    &.is-hover-text--gray-light {
      color: $gray-2;
    }
  }
  &.is-disabled {
    &:link, &:visited,
    &:hover, &:active {
      color: $gray-4;
    }
  }
}

.text--teal {
  color: $teal-2;
  &.text--transparent {
    color: transparentize($teal-2, .5);
  }
}
a.text--teal {
  &:link,
  &:visited {
    color: $teal-2;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $teal-3;
    text-decoration: none;
    &.is-hover-text--teal {
      color: $gray-2;
    }
  }
  &.is-disabled {
    &:link, &:visited,
    &:hover, &:active {
      color: $teal-3;
    }
  }
}

.text--white {
  color: $white;
  &.text--transparent {
    color: transparentize($white, .3);
  }
}
a.text--white {
  &:link,
  &:visited {
    color: $white;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: transparentize($white, .3);
    text-decoration: none;
    &.is-hover-text--white {
      color: $white;
    }
  }
  &.is-disabled {
    &:link, &:visited,
    &:hover, &:active {
      color: $white;
    }
  }
}

.text--yellow {
  color: $vhx-yellow;
  &.text--transparent {
    color: transparentize($vhx-yellow, .3);
  }
}
a.text--yellow {
  &:link,
  &:visited {
    color: $vhx-yellow;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: transparentize($vhx-yellow, .3);
    text-decoration: none;
    &.is-hover-text--yellow {
      color: $vhx-yellow;
    }
  }
  &.is-disabled {
    &:link, &:visited,
    &:hover, &:active {
      color: $vhx-yellow;
    }
  }
}
.text--green {
  color: $vhx-green;
  &.text--transparent {
    color: transparentize($vhx-green, .5);
  }
}
a.text--green {
  &:link,
  &:visited {
    color: $vhx-green;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $vhx-green;
    text-decoration: none;
    &.is-hover-text--green {
      color: $vhx-green;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $vhx-green;
    }
  }
}

.text--red {
  color: $red;
  &.text--transparent {
    color: transparentize($red, .5);
  }
}
a.text--red {
  &:link,
  &:visited {
    color: $red;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $red;
    text-decoration: none;
    &.is-hover-text--red {
      color: $red;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $red;
    }
  }
}

.text--orange {
  color: $vhx-orange;
  &.text--transparent {
    color: transparentize($vhx-orange, .5);
  }
}
a.text--orange {
  &:link,
  &:visited {
    color: $vhx-orange;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $vhx-orange;
    text-decoration: none;
    &.is-hover-text--orange {
      color: $vhx-orange;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $vhx-orange;
    }
  }
}

.text--debian {
  color: $vhx-debian;
  &.text--transparent {
    color: transparentize($vhx-debian, .5);
  }
}
a.text--debian {
  &:link,
  &:visited {
    color: $vhx-debian;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $vhx-debian;
    text-decoration: none;
    &.is-hover-text--debian {
      color: $vhx-debian;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $vhx-debian;
    }
  }
}

.text--purple {
  color: $vhx-purple;
  &.text--transparent {
    color: transparentize($vhx-purple, .5);
  }
}

a.text--purple {
  &:link,
  &:visited {
    color: $vhx-purple;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $vhx-purple;
    text-decoration: none;
    &.is-hover-text--purple {
      color: $vhx-purple;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $vhx-purple;
    }
  }
}

.text--currant {
  color: $vhx-currant;
  &.text--transparent {
    color: transparentize($vhx-currant, .5);
  }
}
a.text--currant {
  &:link,
  &:visited {
    color: $vhx-currant;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $vhx-currant;
    text-decoration: none;
    &.is-hover-text--currant {
      color: $vhx-currant;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $vhx-currant;
    }
  }
}

.text--blue {
  color: $vhx-blue;
  &.text--transparent {
    color: transparentize($vhx-blue, .5);
  }
}
a.text--blue {
  &:link,
  &:visited {
    color: $vhx-blue;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $vhx-blue;
    text-decoration: none;
    &.is-hover-text--blue {
      color: $vhx-blue;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $vhx-blue;
    }
  }
}

.text--vimeo-blue {
  color: $vimeo-blue;
  &.text--transparent {
    color: transparentize($vimeo-blue, .5);
  }
}
a.text--vimeo-blue {
  &:link,
  &:visited {
    color: $vimeo-blue;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $vimeo-blue-darkened;
    text-decoration: none;
    &.is-hover-text--vimeo-blue {
      color: $vimeo-blue;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $vimeo-blue-darkened;
    }
  }
}

.text--sunset-orange {
  color: $sunset-orange;
  &.text--transparent {
    color: transparentize($sunset-orange, .5);
  }
}
a.text--sunset-orange {
  &:link,
  &:visited {
    color: $sunset-orange;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $sunset-orange-darkened;
    text-decoration: none;
    &.is-hover-text--sunset-orange {
      color: $sunset-orange;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $sunset-orange-darkened;
    }
  }
}

.text--southerly-sky {
  color: $southerly-sky;
  &.text--transparent {
    color: transparentize($southerly-sky, .5);
  }
}

a.text--southerly-sky {
  &:link,
  &:visited {
    color: $southerly-sky;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $astro-granite;
    text-decoration: none;
    &.is-hover-text--southerly-sky {
      color: $southerly-sky;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $southerly-sky;
    }
  }
}

.text--regent-gray {
  color: $regent-gray;
  &.text--transparent {
    color: transparentize($regent-gray, .5);
  }
}
a.text--regent-gray {
  &:link,
  &:visited {
    color: $regent-gray;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $astro-granite;
    text-decoration: none;
    &.is-hover-text--regent-gray {
      color: $regent-gray;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $astro-granite;
    }
  }
}

.text--astro-granite {
  color: $astro-granite;
  &.text--transparent {
    color: transparentize($astro-granite, .5);
  }
}
a.text--astro-granite {
  &:link,
  &:visited {
    color: $astro-granite;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: $regent-gray;
    text-decoration: none;
    &.is-hover-text--astro-granite {
      color: $astro-granite;
    }
  }
  &.is-disabled {
  &:link, &:visited,
  &:hover, &:active {
      color: $regent-gray;
    }
  }
}

/* modifiers
......................................*/
.text--bold {
  font-weight: 600;
  strong {
    font-weight: 600;
  }
}
.text--italic {
  font-style: italic;
  em {
    font-style: italic;
  }
}
.text--transparent {
  color: transparentize($gray-6, .5);
}
.text--uppercase {
  text-transform: uppercase;
  &::placeholder {
    text-transform: none;
  }
}
.text--lowercase {
  text-transform: lowercase !important;
}
.text--break {
  word-break: break-all;
}

.text-contain {
  &.text-1 {
    p {
      margin-bottom: 24px;
    }
  }
  &.text-2 {
    p {
      margin-bottom: 22px;
    }
  }
  &.text-3 {
    p {
      margin-bottom: 18px;
    }
  }
}

.line-small {
  line-height: 15px;
}
.line-medium {
  line-height: 18px;
}
.line-large {
  line-height: 21px;
}
