@import "../config/include";

/*.....................................
  BORDERS
......................................*/

/* positions
...................................*/
.border {
  border: 1px solid $porcelain;
}
@each $position in $positions {
  .border-#{$position} {
    border-#{$position}: 1px solid $porcelain;
  }
}
.border-vert {
  border-top: 1px solid $porcelain;
  border-bottom: 1px solid $porcelain;
}

.border-horz {
  border-left: 1px solid $porcelain;
  border-right: 1px solid $porcelain;
}

/* colors
...................................*/
.border--white {
  border-color: $white !important;
}
.border--white-transparent {
  border-color: $white-transparent !important;
}
.border--gray {
  border-color: $porcelain !important;
}
.border--gray-light {
  border-color: $plaster !important;
}
.border--navy {
  border-color: $astrogranite !important;
}

/* modifiers
...................................*/
.border--thick {
  border-width: 5px;
}
.border--radius {
  border-radius: 3px;
}

/* border center
...................................*/
.border-center {
  z-index: 1;
  position: relative;

  &:before {
    content: " ";
    display: block;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: $porcelain;
    margin-top: -2px;
    z-index: -1;
    position: absolute;
    width: 100%;
  }

  &.border--gray-light:before {
    background-color: $plaster;
  }
  &.border--white-transparent:before {
    background-color: $white-transparent;
  }
  &.border--white:before {
    background-color: $white;
  }
}

.shadow {
  box-shadow: 0 0 5px 0 transparentize($navy, .5);
}
.shadow--black {
  box-shadow: 0 0 5px 0 transparentize($astrogranite, .5);
}
.shadow--gray {
  box-shadow: 0 0 5px 0 transparentize($porcelain, .5);
}
.radius {
  border-radius: 5px;
}
