@import "../config/include";

/*.....................................
  BUTTONS
......................................*/

/* reset
......................................*/
input[type="submit"], button {
  border-radius: 5px;
  margin: 0;
}

select {
  width: auto;
  margin: 0;
}

/* base
......................................*/
.btn {
  transition: border 300ms cubic-bezier(0.19, 1, 0.22, 1), color 300ms cubic-bezier(0.19, 1, 0.22, 1), opacity 300ms cubic-bezier(0.19, 1, 0.22, 1), background-color 300ms cubic-bezier(0.19, 1, 0.22, 1);

  background-color: transparent;
  border: 1px solid transparent;
  display: inline-block;
  position: relative;
  box-sizing: border-box;

  // fonts
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: transparent;

  line-height: 38px;
  height: 40px;
  padding: 0 20px;

  // borders
  outline: none;
  border-radius: 5px;

  // states
  &:link,
  &:visited {
    text-decoration: none;
    border: 1px solid transparent;
  }
}

/* button gray shorthand
......................................*/
.btn-gray {
  @extend .btn;
  @include button-colors(
    $gray-1,  // background
    $gray-2,  // background hover
    $gray-6,  // color
    $gray-6,  // color hover
    $gray-2,  // border color
    $gray-2,   // border hover,
    375667   // loader
  );
}

/* button dark shorthand
......................................*/
.btn-slate {
  @extend .btn;
  @include button-colors(
    $gray-5,  // background
    $gray-6,  // background hover
    $white,  // color
    $white,  // color hover
    $gray-6,  // border color
    $gray-6,   // border color hover
    $gray-7   // loader
  );
}

/* button teal shorthand
......................................*/
.btn-teal {
  @extend .btn;
  @include button-colors(
    $teal-2,  // background
    $teal-3,  // background hover
    $white,  // color
    $white,  // color hover
    $teal-3,  // border color
    $teal-3,   // border color hover
    ffffff  // loader
  );
}

/* button red shorthand
......................................*/
.btn-red {
  @extend .btn;
  @include button-colors(
    $red,  // background
    darken($red, 10%),  // background hover
    $white,  // color
    $white,  // color hover
    darken($red, 10%),  // border color
    darken($red, 10%),   // border hover
    ffffff  // loader
  );
}

/* button purple shorthand
......................................*/
.btn-purple {
  @extend .btn;
  @include button-colors(
    $vhx-purple-1,  // background
    $vhx-purple-3,  // background hover
    $white,  // color
    $white,  // color hover
    $vhx-purple-1,  // border color
    $vhx-purple-3,   // border hover
    ffffff // loader
  );
}

/* button black shorthand
......................................*/
.btn-black {
  @extend .btn;
  @include button-colors(
    transparentize($black, .5),    // background
    transparentize($black, 0),     // background hover
    transparentize($white, .2),    // color
    transparentize($white, 0),     // color hover
    transparentize($white, .6),    // border color
    transparentize($white, 0),     // border color hover
    transparentize($white, 0)      // loader
  );
}

/* button white shorthand
......................................*/
.btn-white {
  @extend .btn;
  @include button-colors(
    $white,  // background
    $gray-2,  // background hover
    $gray-6,  // color
    $gray-6,  // color hover
    $gray-2,  // border color
    $gray-2,  // border color hover
    $gray-6   // loader
  );
}

/* button facebook shorthand
......................................*/
.btn-facebook {
  @extend .btn;
  @include button-colors(
    $facebook-color,  // background
    darken($facebook-color, 10%),  // background hover
    $white,  // color
    $white,  // color hover
    darken($facebook-color, 10%),  // border color
    darken($facebook-color, 10%),   // border color hover
    $white  // loader
  );
}

/* button twitter  shorthand
......................................*/
.btn-twitter {
  @extend .btn;
  @include button-colors(
    $twitter-color,  // background
    darken($twitter-color, 10%),  // background hover
    $white,  // color
    $white,  // color hover
    darken($twitter-color, 10%),  // border color
    darken($twitter-color, 10%),   // border color hover
    $white  // loader
  );
}

/* button transparent shorthand
......................................*/
.btn-transparent {
  @extend .btn;
  @include button-colors(
    transparentize($white, .5),  // background
    transparentize($white, .3),  // background hover
    $white,  // color
    $white,  // color hover
    transparentize($white, 1),  // border color
    transparentize($white, 1),   // border color hover
    $white  // loader
  );
}

/* button tumblr shorthand
......................................*/
.btn-tumblr {
  @extend .btn;
  @include button-colors(
    $tumblr-color,  // background
    darken($tumblr-color, 10%),  // background hover
    $white,  // color
    $white,  // color hover
    darken($tumblr-color, 10%),  // border color
    darken($tumblr-color, 10%),   // border color hover
    $white  // loader
  );
}

/* button paypal shorthand
......................................*/
.btn-paypal {
  @extend .btn;
  @include button-colors(
    $paypal-color,  // background
    darken($paypal-color, 10%),  // background hover
    $white,  // color
    $white,  // color hover
    darken($paypal-color, 10%),  // border color
    darken($paypal-color, 10%),   // border color hover
    $white  // loader
  );
}

/* button roku shorthand
......................................*/
.btn-roku {
  @extend .btn;
  @include button-colors(
    $roku-color,  // background
    darken($roku-color, 10%),  // background hover
    $white,  // color
    $white,  // color hover
    darken($roku-color, 10%),  // border color
    darken($roku-color, 10%),   // border color hover
    $white  // loader
  );
}

/* button search shorthand
......................................*/
.btn-search {
  @extend .btn;
  @extend .btn--small;
  @extend .icon--center;
  @extend %icon-search-mono;
}


/*.....................................
  BUTTON ICONS
......................................*/

/* sizes
......................................*/
.icon--xsmall {
  background-size: nth($icon-size,$icon-xsmall) nth($icon-size, $icon-xsmall);
}
.icon--small {
  background-size: nth($icon-size, $icon-small) nth($icon-size, $icon-small);
}
.icon--medium {
  background-size: nth($icon-size, $icon-medium) nth($icon-size, $icon-medium);
}
.icon--large {
  background-size: nth($icon-size, $icon-large) nth($icon-size, $icon-large);
}

/* position
......................................*/
.icon--center {
  @include button-icon-position("center", "");

  &.btn--small {
    width: 30px;
    padding: 0 10px !important;
  }
  &.btn--medium {
    width: 40px;
    padding: 0 20px !important;
  }
  &.btn--large {
    width: 60px;
    padding: 0 30px !important;
  }
}
.icon--left {
  @include button-icon-position("left", $icon-medium);

  &.btn--small {
    @include button-icon-position("left", $icon-small);
  }
  &.btn--medium {
    @include button-icon-position("left", $icon-medium);
  }
  &.btn--large {
    @include button-icon-position("left", $icon-large);
  }
}
.icon--right {
  @include button-icon-position("right", $icon-medium);

  &.btn--small {
    @include button-icon-position("right", $icon-small);
  }
  &.btn--medium {
    @include button-icon-position("right", $icon-medium);
  }
  &.btn--large {
    @include button-icon-position("right", $icon-large);
  }
}

.btn-dropdown {
  @extend .btn;
  background-size: 10px 10px;
  background-position: right 15px center;
  padding-right: 35px;
  text-align: left;
  position: relative;

  &.btn--small {
    background-size: 8px 8px;
    &.icon--center {
      width: 30px;
    }
  }

  &.btn-dropdown--action {
    padding-right: 60px;
  }
  &.btn-dropdown--action:before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 39px;
    width: 1px;
    height: 100%;
    background: $white;
  }
  &.icon--center {
    width: 40px;
    &.btn-dropdown--action:before {
      display: none;
      content: '';
    }
  }
}

/* button dropdowns
......................................*/
.btn-dropdown-gray {
  @extend .btn-dropdown;
  @extend .btn-gray;
  @extend %icon-chevron-down-mono;

  &.btn-dropdown--action:before {
    background: $gray-2;
  }
  &:hover {
    @extend %icon-chevron-down-mono;
    &.btn-dropdown--action:before {
      background: $gray-4;
    }
  }
}

.btn-dropdown-white {
  @extend .btn-dropdown;
  @extend .btn-white;
  @extend %icon-chevron-down-mono;

  &.btn-dropdown--action:before {
    background: $gray-2;
  }
  &:hover {
    @extend %icon-chevron-down-mono;
    &.btn-dropdown--action:before {
      background: $gray-4;
    }
  }
}

.btn-dropdown-teal {
  @extend .btn-dropdown;
  @extend .btn-teal;
  @extend %icon-chevron-down-inverse;

  &.btn-dropdown--action:before {
    background: $teal-2;
  }
  &:hover {
    @extend %icon-chevron-down-inverse;
    &.btn-dropdown--action:before {
      background: $teal-3;
    }
  }
}

/* button sizes
......................................*/
.btn--fill {
  box-sizing: border-box;
  width: 100%;
}

.btn--half {
  box-sizing: border-box;
  width: 48%;
  margin-left: .5% !important;
  margin-right: .5% !important;
}

.btn--small {
  line-height: 28px;
  height: 30px;
  padding: 0 10px;
  font-size: 12px;
  background-size: 13px 13px;
}

.btn--medium {
  line-height: 38px;
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  background-size: 15px 15px;
}

.btn--large {
  line-height: 58px;
  height: 60px;
  padding: 0 30px;
  font-size: 20px;
  letter-spacing: 1px;
  background-size: 23px 23px;
}

/* button fonts
......................................*/
.btn--brandon {
  text-transform: uppercase;
  font-family: $font-brandon;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 40px;

  &.btn--small {
    font-size: 12px;
    line-height: 30px;
    background-position: 10px 7px;
  }
  &.btn--medium {
    font-size: 14px;
    line-height: 40px;
  }
  &.btn--large {
    font-size: 20px;
    line-height: 60px;
  }
}


/* button media queries
......................................*/
@media #{$small-only} {
  .small-only-btn--fill {
    box-sizing: border-box;
    width: 100%;
  }
  .small-only-btn--half {
    box-sizing: border-box;
    width: 48%;
    margin-left: .5% !important;
    margin-right: .5% !important;
  }
}



/* buttons group
......................................*/
.btn-group {
  &:after {
    content: ' ';
    clear: both;
    height: 0;
    font-size: 0;
    visibility: hidden;
    display: block;
  }
  .btn-gray,
  .btn-teal {
    display: block;
    float: left;
    border-radius: 0;
    &.is-selected {
      box-shadow: inset 0px 0px 7px 0px rgba(170,170,170,0.4);
    }
  }
  .btn-gray:after,
  .btn-teal:after {
    width: 1px;
    height: 100%;
    transition: background .2s ease;
    display: block;
    content: ".";
    text-indent: -99999px;
    position: absolute;
    top: 0;
    right: -2px;
    z-index: 1000;
  }
  .btn-gray:hover:after,
  .btn-teal:hover:after {
    background: transparent !important;
  }
  .btn-gray:nth-child(odd),
  .btn-teal:nth-child(odd) {
    border-right: 1px solid $gray-2 !important;
    border-left: 1px solid $gray-2 !important;
    &:hover,
    &:focus {
      border-right: 1px solid $gray-2 !important;
      border-left: 1px solid $gray-2 !important;
      z-index: 10000;
    }
  }
  .btn-gray:nth-child(even),
  .btn-teal:nth-child(even) {
    border-left: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
    &:hover,
    &:focus {
      border-left: 1px solid $gray-2 !important;
      border-right: 1px solid $gray-2 !important;
      z-index: 10000;
    }
  }
  .btn-gray:first-child,
  .btn-teal:first-child {
    border-left: 1px solid $gray-2 !important;
    border-radius: 5px 0 0 5px;
  }
  .btn-gray:last-child,
  .btn-teal:last-child {
    border-right: 1px solid $gray-2 !important;
    border-radius: 0 5px 5px 0;
    &:after {
      display: none;
    }
  }
}
