@import "../config/include";

/*.....................................
  Headers
......................................*/
.head {
  font-family: $font-brandon;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.3;
  transition: color 200ms ease, opacity 200ms ease;
  .line,
  &.line {
    line-height: 45px;
    min-height: 45px;
  }
  .line-large,
  &.line-large {
    line-height: 65px;
    min-height: 65px;
  }

  /* Top
  ......................................*/
  &.top,
  &.top:link & a,
  &.top:visited & a,
  &.top a:link,
  &.top a:visited {
    font-size: 48px;
    color: $gray-6;
    letter-spacing: 2px;
    &.strong,
    strong {
      font-weight: 600;
    }
    &.is-active {
      color: $gray-3;
    }
    &.small,
    small {
      font-size: 28px !important;
    }
  }
  &.top:hover & a,
  &.top:active & a,
  &.top a:hover,
  &.top a:active {
    color: $gray-3;
  }

  /* Primary
  ......................................*/
  &.primary,
  &.primary:link & a,
  &.primary:visited & a,
  &.primary a:link,
  &.primary a:visited {
    font-size: 24px;
    color: $gray-6;
    &.is-active {
      color: $gray-3;
    }
    small {
      font-size: 80% !important;
      font-weight: 400;
    }
    strong,
    &.strong {
      font-weight: bold;
    }
  }
  &.primary:hover & a,
  &.primary:active & a,
  &.primary a:hover,
  &.primary a:active {
    color: $gray-3;
  }

  /* Secondary
  ......................................*/
  &.secondary,
  &.secondary:link & a,
  &.secondary:visited & a,
  &.secondary a:link,
  &.secondary a:visited {
    font-weight: bold;
    font-size: 16px;
    color: $gray-2;

    strong,
    &.strong,
    &.is-active {
      color: $gray-6;
      font-weight: bold;
    }
  }
  &.secondary:hover & a,
  &.secondary:active & a,
  &.secondary a:hover,
  &.secondary a:active {
    color: $gray-6;
  }

  /* Tertiary
  ......................................*/
  &.tertiary,
  &.tertiary:link & a,
  &.tertiary:visited & a,
  &.tertiary a:link,
  &.tertiary a:visited {
    font-weight: bold;
    font-size: 14px;
    color: $gray-3;

    &.alt {
      font-weight: 500;
      letter-spacing: 1px;
    }
    strong,
    &.strong,
    &.is-active {
      color: $gray-6;
      font-weight: bold;
    }
    &.is-link {
      color: $teal-2;
      &:hover,
      &:active {
        color: $teal-3;
      }
    }
  }
  &.tertiary:hover & a,
  &.tertiary:active & a,
  &.tertiary a:hover,
  &.tertiary a:active {
    color: $gray-6;
  }


  /* Quarternary
  ......................................*/
  &.quarternary,
  &.quarternary:link & a,
  &.quarternary:visited & a,
  &.quarternary a:link,
  &.quarternary a:visited {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;

    strong,
    &.strong,
    &.is-active {
      font-weight: bold;
    }
    &.is-link {
      color: $teal-2;
      &:hover,
      &:active {
        color: $teal-3;
      }
    }
  }

  &.alt,
  &.alt a:link,
  &.alt a:visited {
    line-height: 36px;
    font-size: 35px;
    font-family: $font-gothic;
    color: $gray-6;
    font-style: normal;
    font-weight: 400;
  }
  &.alt:hover & a,
  &.alt:active & a,
  &.alt a:hover,
  &.alt a:active {
    color: $gray-3;
  }

  &.inverse,
  &.inverse a:link,
  &.inverse a:visited, {
    color: #fff;
    strong,
    &.strong {
      color: #fff;
    }
  }
  &.inverse:hover & a,
  &.inverse:active & a,
  &.inverse a:hover,
  &.inverse a:active {
    color: #fff;
  }

  &.dark,
  &.dark:link & a,
  &.dark:visited & a,
  &.dark a:link,
  &.dark a:visited, {
    font-weight: 500;
    color: #000000;
    strong,
    &.strong {
      font-weight: 700;
      color: #000000;
    }
  }
  &.dark:hover & a,
  &.dark:active & a,
  &.dark a:hover,
  &.dark a:active {
    color: #000000;
  }

  &.transparent,
  &.head-transparent {
    opacity: .6;
    &:hover {
      opacity: 1;
    }
  }

  &.link-primary,
  .link-primary {
    &:link,
    &:visited {
      color: $teal-2 !important;
    }
    &:hover,
    &.is-hover,
    &:active,
    &.is-active {
      color: $teal-3 !important;
    }
  }
}

strong.secondary.head {
  color: $gray-6;
  font-weight: bold;
}
strong.inverse.head {
  font-weight: 500;
  color: $white;
}