@import "../../core/config/mixins";
@import "../styles/icons.extends";

/*.....................................
  Icon Sizes
......................................*/

$icon-xxsmall: 10px;
$icon-xsmall: 15px;
$icon-small: 25px;
$icon-medium: 35px;
$icon-large: 45px;
$icon-xlarge: 55px;
$icon-xxlarge: 65px;
