/* .....................................
  Colors - Grays
..................................... */
$white: #ffffff;
$white-transparent: rgba(255, 255, 255, .7);

$black: #000000;
$black-transparent: rgba(0, 0, 0, .7);

$gray-1: #F7F8F9;
$gray-2: #F0F2F4;
$gray-3: #D7DDE1;
$gray-4: #AFBCC3;
$gray-5: #869AA5;
$gray-6: #5E7887;
$gray-7: #375667;
$gray-8: #233741;

/* .....................................
  Colors - Teals
..................................... */
$teal-1: #F2FBFB;
$teal-2: #22B9B0;
$teal-3: #149A97;

/* .....................................
  Colors - Red
..................................... */
$red: #D3104A;

/* .....................................
  Colors - Navy
..................................... */
$navy: #00142B;
$navy-transparent: rgba(0, 20, 43, .5);

/* .....................................
  Colors - Brand Palette
..................................... */
// $vhx-orange-1: #AE4B4D;
$vhx-orange: #D06B5E;
// $vhx-orange-3: #DC7865;

// $vhx-debian-1: #731139;
$vhx-debian: #BA0F45;
// $vhx-debian-3: #D3104B;

$vhx-purple-1: #8B3880;
$vhx-purple: #783479;
// $vhx-purple-3: #432865;

// $vhx-currant-1: #45065A;
$vhx-currant: #2E064A;
// $vhx-currant-3: #1C0D32;

// $vhx-blue-1: #0F4E7B;
$vhx-blue: #227F95;
// $vhx-blue-3: #2A909E;

// $vhx-teal-1: #017782;
$vhx-teal: #149A97;
// $vhx-teal-3: #21B8B0;

// $vhx-green-1: #1E6657;
$vhx-green: #7DA53E;
// $vhx-green-3: #9DBB36;

// $vhx-yellow-1: #D1955F;
$vhx-yellow: #FFB567;
// $vhx-yellow-3: #FFC77C;

/* .....................................
  Colors - External Palette
..................................... */
// https://toolbelt.pixelapse.com/color/
$facebook-blue: #3B5999;
$twitter-blue: #55ACEE;
$tumblr-blue: #34465D;
$paypal-blue: #00457C;
$roku-purple: #662C91;
