/* .....................................
  Colors - Grays
..................................... */
$white: #ffffff;
$white-transparent: rgba(255, 255, 255, .7);

$black: #000000;
$black-transparent: rgba(0, 0, 0, .7);

$gray-1: #F7F8F9;
$gray-2: #F0F2F4;
$gray-3: #D7DDE1;
$gray-4: #AFBCC3;
$gray-5: #869AA5;
$gray-6: #5E7887;
$gray-7: #375667;
$gray-8: #233741;

/* .....................................
  Colors - Teals
..................................... */
$teal-1: #F2FBFB;
$teal-2: #22B9B0;
$teal-3: #149A97;

/* .....................................
  Colors - Red
..................................... */
$red: #D3104A;

/* .....................................
  Colors - Navy
..................................... */
$navy: #00142B;
$navy-transparent: rgba(0, 20, 43, .5);

/* .....................................
  Colors - Brand Palette
..................................... */
$vhx-orange: #D06B5E;
$vhx-debian: #BA0F45;
$vhx-purple: #783479;
$vhx-currant: #2E064A;
$vhx-blue: #0F4E7B;
$vhx-teal: #149A97;
$vhx-green: #7DA53E;
$vhx-yellow: #FFB567;

/* .....................................
  Colors - External Palette
..................................... */
// https://toolbelt.pixelapse.com/color/
$facebook-blue: #3B5999;
$twitter-blue: #55ACEE;
$tumblr-blue: #34465D;
$paypal-blue: #00457C;
$roku-purple: #662C91;
