//TODO: Refactor colors in here

/*.....................................
  LOADERS
......................................*/

/* Colors
......................................*/
.loader-slate {
  @include loader("7a878e");
}
.loader-white {
  @include loader("ffffff");
}
.loader-teal {
  @include loader("22b9b0");
}

/* Cover
......................................*/
.loader--transparent {
  @include loader_cover();
  transition: opacity 500ms ease;
  &.is-processing > *,
  &.is-loading > * {
    opacity: .2;
  }
}

.loader--offset:after {
  top: 125px;
}

.loader--hide {
  @include loader_cover();
  &.is-processing *,
  &.is-loading * {
    background-image: none !important;
    color: transparent !important;
    text-shadow: none !important;
    background: none !important;
    border: none !important;
  }
}
