.icon-play-outline-navy {
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2223%22%20viewBox%3D%220%200%2023%2023%22%3E%3Ctitle%3Eicons-ui-set%20copy%3C%2Ftitle%3E%3Cpath%20d%3D%22M4.18%2C23V0L18.82%2C11.5ZM6.36%2C4.48v14l8.94-7Z%22%20fill%3D%22%23375667%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}
.icon-play-outline-gray {
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2223%22%20viewBox%3D%220%200%2023%2023%22%3E%3Ctitle%3Eicons-ui-set%20copy%3C%2Ftitle%3E%3Cpath%20d%3D%22M4.18%2C23V0L18.82%2C11.5ZM6.36%2C4.48v14l8.94-7Z%22%20fill%3D%22%239baab2%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}
.icon-play-outline-teal {
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2223%22%20viewBox%3D%220%200%2023%2023%22%3E%3Ctitle%3Eicons-ui-set%20copy%3C%2Ftitle%3E%3Cpath%20d%3D%22M4.18%2C23V0L18.82%2C11.5ZM6.36%2C4.48v14l8.94-7Z%22%20fill%3D%22%2322b8af%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}
.icon-play-outline-white {
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2223%22%20viewBox%3D%220%200%2023%2023%22%3E%3Ctitle%3Eicons-ui-set%20copy%3C%2Ftitle%3E%3Cpath%20d%3D%22M4.18%2C23V0L18.82%2C11.5ZM6.36%2C4.48v14l8.94-7Z%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}
.icon-play-outline-black {
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2223%22%20viewBox%3D%220%200%2023%2023%22%3E%3Ctitle%3Eicons-ui-set%20copy%3C%2Ftitle%3E%3Cpath%20d%3D%22M4.18%2C23V0L18.82%2C11.5ZM6.36%2C4.48v14l8.94-7Z%22%20fill%3D%22%23000000%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}
.icon-play-outline {
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2223%22%20viewBox%3D%220%200%2023%2023%22%3E%3Ctitle%3Eicons-ui-set%20copy%3C%2Ftitle%3E%3Cpath%20d%3D%22M4.18%2C23V0L18.82%2C11.5ZM6.36%2C4.48v14l8.94-7Z%22%20fill%3D%22%23375667%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}
