/* .....................................
  Fonts
..................................... */
/* .....................................
  Sets
..................................... */
/* .....................................
  Media Query Ranges
..................................... */
/* .....................................
  Colors - Grays
..................................... */
/* .....................................
  Colors - Teals
..................................... */
/* .....................................
  Colors - Red
..................................... */
/* .....................................
  Colors - Navy
..................................... */
/* .....................................
  Colors - Brand Palette
..................................... */
/* .....................................
  Colors - External Palette
..................................... */
/* helper function for margin and padding
......................................*/
.c-filter--container {
  width: 550px; }
  .c-filter--container .c-filter--applied {
    background-color: #D7DDE1; }
  .c-filter--container.is-open .c-filter--trigger {
    background-color: #D7DDE1; }
  .c-filter--container.is-open .c-filter--dropdown {
    right: auto;
    left: 0; }
  .c-filter--container .c-filter--dropdown:before, .c-filter--container .c-filter--dropdown:after {
    left: 45px; }
  .c-filter--container .c-filter--dropdown .icon-calendar-navy {
    background-position: 10px center; }
  .c-filter--container .c-filter--dropdown ul {
    max-height: none; }
  .c-filter--container .c-filter--dropdown .c-filter--item {
    background-position: center right 15px;
    padding: 15px !important;
    display: block; }
  .c-filter--container .c-filter--item-container {
    display: none; }
    .c-filter--container .c-filter--item-container.is-active {
      display: block; }
  .c-filter--container .c-filter--trigger,
  .c-filter--container .c-filter--applied {
    background-position: right 15px center;
    line-height: 20px;
    height: 40px;
    padding: 10px; }
  .c-filter--container .c-filter--applied {
    margin-right: 10px;
    padding-right: 40px;
    color: #00142B;
    border-radius: 3px; }
  .c-filter--container .c-filter--label {
    height: 40px;
    line-height: 40px; }
