/* .....................................
  Fonts
..................................... */
/* .....................................
  Sets
..................................... */
/* .....................................
  Media Query Ranges
..................................... */
/* .....................................
  Colors - Grays
..................................... */
/* .....................................
  Colors - Teals
..................................... */
/* .....................................
  Colors - Red
..................................... */
/* .....................................
  Colors - Navy
..................................... */
/* .....................................
  Colors - Brand Palette
..................................... */
/* .....................................
  Colors - External Palette
..................................... */
/* helper function for margin and padding
......................................*/
/*
  Mithril Chosen-like Dropdown w/ Search styles
  See app/assets/javascripts/_shared/components/select/select.ui.js for markup
*/
.c-select--container {
  position: relative; }

.c-select--dropdown {
  position: absolute;
  max-height: 282px;
  top: 55px;
  left: 0;
  width: 100%;
  background-color: #fff;
  background: #ffffff;
  z-index: 2147483600;
  border: 1px solid #D7DDE1;
  border-radius: 5px;
  display: none; }
  .c-select--dropdown.is-open {
    display: block; }

.c-select--caret {
  border: solid transparent;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #D7DDE1;
  border-width: 10px;
  margin-right: -11px;
  bottom: 100%;
  right: 22px;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
  .c-select--caret:before {
    position: absolute;
    bottom: -10px;
    right: -9px;
    content: ' ';
    display: block;
    border: solid transparent;
    border-bottom-color: #ffffff;
    border-width: 9px; }

.c-select--input-container {
  position: absolute;
  width: 100%;
  border-radius: 5px;
  z-index: 2;
  background: #fff; }

.c-select--container.has-search .c-select--dropdown {
  min-height: 150px; }
.c-select--container.has-search .c-select--options {
  margin-top: 70px; }

.c-select--options {
  margin-top: 15px;
  margin-bottom: 15px;
  overflow-y: auto;
  max-height: 210px; }
  .c-select--options.is-loading {
    background-position: center center;
    background-size: 40px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%20%20viewBox%3D%220%200%2040%2040%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20opacity%3D%220.2%22%20fill%3D%22%237a878e%22%20d%3D%22M20.201%2C5.169c-8.254%2C0-14.946%2C6.692-14.946%2C14.946c0%2C8.255%2C6.692%2C14.946%2C14.946%2C14.946%0D%0A%20%20s14.946-6.691%2C14.946-14.946C35.146%2C11.861%2C28.455%2C5.169%2C20.201%2C5.169z%20M20.201%2C31.749c-6.425%2C0-11.634-5.208-11.634-11.634%0D%0A%20%20c0-6.425%2C5.209-11.634%2C11.634-11.634c6.425%2C0%2C11.633%2C5.209%2C11.633%2C11.634C31.834%2C26.541%2C26.626%2C31.749%2C20.201%2C31.749z%22%2F%3E%0D%0A%3Cpath%20fill%3D%22%237a878e%22%20d%3D%22M26.013%2C10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0%0D%0A%20%20C22.32%2C8.481%2C24.301%2C9.057%2C26.013%2C10.047z%22%3E%0D%0A%20%20%3CanimateTransform%20attributeType%3D%22xml%22%0D%0A%20%20%20%20attributeName%3D%22transform%22%0D%0A%20%20%20%20type%3D%22rotate%22%0D%0A%20%20%20%20from%3D%220%2020%2020%22%0D%0A%20%20%20%20to%3D%22360%2020%2020%22%0D%0A%20%20%20%20dur%3D%220.5s%22%0D%0A%20%20%20%20repeatCount%3D%22indefinite%22%2F%3E%0D%0A%20%20%3C%2Fpath%3E%0D%0A%3C%2Fsvg%3E"); }
    .c-select--options.is-loading li {
      opacity: 0; }

.c-select--option {
  color: #233741; }
  .c-select--option.is-selected {
    cursor: pointer;
    background-color: #F0F2F4; }
  .c-select--option.padding-horizontal-large {
    padding-left: 25px !important;
    padding-right: 25px !important; }
  .c-select--option.padding-vertical-small {
    padding-top: 0.3125rem !important;
    padding-bottom: 0.3125rem !important; }

.c-select--item-label {
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block; }
