/* .....................................
  Fonts
..................................... */
/* .....................................
  Sets
..................................... */
/* .....................................
  Media Query Ranges
..................................... */
/* .....................................
  Colors - Grays
..................................... */
/* .....................................
  Colors - Teals
..................................... */
/* .....................................
  Colors - Red
..................................... */
/* .....................................
  Colors - Navy
..................................... */
/* .....................................
  Colors - Brand Palette
..................................... */
/* .....................................
  Colors - External Palette
..................................... */
/* helper function for margin and padding
......................................*/
.c-select--dropdown {
  position: absolute;
  max-height: 282px;
  top: 55px;
  left: 0;
  z-index: 2147483600;
  display: none; }
  .c-select--dropdown.has-trigger {
    top: 35px; }
  .c-select--dropdown.is-open {
    display: block; }

.c-select--caret {
  border: solid transparent;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #D7DDE1;
  border-width: 10px;
  margin-right: -11px;
  bottom: 100%;
  right: 22px;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
  .c-select--caret:before {
    position: absolute;
    bottom: -10px;
    right: -9px;
    content: ' ';
    display: block;
    border: solid transparent;
    border-bottom-color: #ffffff;
    border-width: 9px; }

.c-select--input-container {
  z-index: 2;
  position: absolute; }

.c-select--container.has-search .c-select--dropdown {
  min-height: 150px; }
.c-select--container.has-search .c-select--options {
  margin-top: 80px; }

.c-select--options {
  margin-top: 15px;
  margin-bottom: 15px;
  overflow-y: auto;
  max-height: 210px; }

.c-select--option {
  color: #233741; }
  .c-select--option.is-selected {
    cursor: pointer;
    background-color: #F0F2F4; }

.c-select--item-label {
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block; }

.c-media-item--container {
  transition: background-color .2s ease-out; }
  .c-media-item--container:hover, .c-media-item--container.is-selected {
    cursor: pointer;
    background-color: rgba(34, 185, 176, 0.1); }
    .c-media-item--container:hover .c-item-toggle, .c-media-item--container.is-selected .c-item-toggle {
      opacity: 1; }

.c-item-toggle {
  opacity: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-position: center;
  background-color: #22B9B0;
  transform: translateY(8px);
  transition: opacity .2s ease-out; }
  .c-item-toggle.is-selected {
    background-color: #ffffff;
    opacity: 1; }

.c-select--footer .btn-teal {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }
.c-select--footer .btn-teal:link,
.c-select--footer .btn-teal:visited {
  background-color: white;
  border-color: white;
  color: #22B9B0; }
.c-select--footer .btn-teal:hover,
.c-select--footer .btn-teal:active,
.c-select--footer .btn-teal.is-loading {
  background-color: #22B9B0;
  border-color: #22B9B0;
  color: #ffffff; }
