@import "../config/mixins";

/*.....................................
  Arrows
......................................*/

.arrow {
  position: relative;

  &.arrow-shadow:after {
    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
    z-index: -1;
  }
  &:after, &:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba(0, 20, 41, 0);
    border-width: 10px;
  }
  &:before {
    border-color: rgba(0, 20, 41, 0);
    border-width: 11px;
  }

  /* bottom
  ......................................*/
  &.arrow-bottom-left {
    &:after, &:before {
      top: 100%;
      left: 15%;
    }
  }

  &.arrow-bottom-middle {
    &:after, &:before {
      top: 100%;
      left: 50%;
    }
  }

  &.arrow-bottom-right {
    &:after, &:before {
      top: 100%;
      right: 15%;
    }
  }

  @include arrow-colors(bottom);

  /* left
  ......................................*/
  &.arrow-left-top {
    &:after, &:before {
      right: 100%;
      top: 15%;
    }
  }

  &.arrow-left-middle {
    &:after, &:before {
      right: 100%;
      top: 50%;
    }
  }

  &.arrow-left-bottom {
    &:after, &:before {
      right: 100%;
      bottom: 15%;
    }
  }

  @include arrow-colors(left);

  /* right
  ......................................*/
  &.arrow-right-top {
    &:after, &:before {
      left: 100%;
      top: 15%;
    }
  }

  &.arrow-right-middle {
    &:after, &:before {
      left: 100%;
      top: 50%;
    }
  }

  &.arrow-right-bottom {
    &:after, &:before {
      left: 100%;
      bottom: 15%;
    }
  }

  @include arrow-colors(right);

  /* top
  ......................................*/
  &.arrow-top-left {
    &:after, &:before {
      bottom: 100%;
      left: 15%;
    }
  }

  &.arrow-top-middle {
    &:after, &:before {
      bottom: 100%;
      left: 50%;
    }
  }

  &.arrow-top-right {
    &:after, &:before {
      bottom: 100%;
      right: 15%;
    }
  }

  @include arrow-colors(top);

  &.border {
    border: 1px solid #ddd !important;
  }
}