@import "../config/mixins";

/* margin and padding
......................................*/
.margin-reset {
  margin: 0 !important;
}
.margin-right-reset {
  margin-right: 0 !important;
}
.margin-left-reset {
  margin-left: 0 !important;
}
.margin-top-reset {
  margin-top: 0 !important;
}
.margin-bottom-reset {
  margin-bottom: 0 !important;
}
.padding-reset {
  padding: 0 !important;
}
.padding-right-reset {
  padding-right: 0 !important;
}
.padding-left-reset {
  padding-left: 0 !important;
}
.padding-top-reset {
  padding-top: 0 !important;
}
.padding-bottom-reset {
  padding-bottom: 0 !important;
}

@each $size in $sizes {
  @each $spacing_type in $spacing_types {
    @include spacer('', $size, $spacing_type);
    @include spacer(top, $size, $spacing_type);
    @include spacer(bottom, $size, $spacing_type);
    @include spacer(right, $size, $spacing_type);
    @include spacer(left, $size, $spacing_type);
    @include spacer('vertical', $size, $spacing_type);
    @include spacer('horizontal', $size, $spacing_type);
  }
}

/*.....................................
  Foundation Utility Extensions
......................................*/
@media #{$small-only} {
  .small-pull {
    float: left !important;
  }
  .small-wide {
    width: 100%;
  }
  .small-margin-reset {
    margin: 0px !important;
  }
  .small-margin-bottom-medium {
    margin-bottom: 25px !important;
  }
  .small-margin-bottom-large {
    margin-bottom: 35px !important;
  }
  .small-margin-top-medium {
    margin-top: 25px !important;
  }
  .small-margin-bottom-medium {
    margin-bottom: 15px !important;
  }
}

@media #{$small-up} {
  .small-padding-horizontal-small {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}

@media #{$medium-up} {
  .medium-padding-horizontal-medium {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .medium-padding-horizontal-large {
    padding-left: 35px !important;
    padding-right: 35px !important;
  }
  .medium-margin-bottom-medium {
    margin-bottom: 25px !important;
  }
  .medium-margin-bottom-large {
    margin-bottom: 35px !important;
  }
  .medium-border-left {
    border-left: 1px solid #d6dcdf !important;
  }
}

@media #{$large-up} {
  .large-padding-horizontal-large {
    padding-left: 35px !important;
    padding-right: 35px !important;
  }
}